@import "styles/mixins";

.layoutCard {
  height: 100%;
  position: relative;

  .cardActions {
    opacity: 0;
    position: absolute;
    right: $spacing-sm;
    top: $spacing-sm;
    transition: opacity 0.3s ease;
    transition-delay: 0.15s;
  }

  .deleteButton {
    font-size: $font-size-xs;
    height: 32px;
    line-height: 1;
    min-height: unset;
    padding: $spacing-xs;
    width: 32px;
  }

  .deleteIcon {
    font-size: 20px;
    font-weight: 400;
    position: relative;
    top: -1px;
  }

  &:hover {
    .cardActions {
      opacity: 1;
    }

    .card {
      p {
        color: #ccc;
      }

      .job {
        filter: grayscale(0);
      }
    }
  }
}

.card {
  border: 1px solid #333;

  h4 {
    color: #fff;
    margin: $spacing-sm 0 $spacing-base;
    transition: color 0.3s ease;
  }

  p {
    color: #999;
    font-size: $font-size-base;
    height: 64px;
    line-height: 1.45;
    transition: color 0.3s ease;
  }

  .description {
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;

    &::after {
      background: linear-gradient(to bottom, rgb(0 0 0 / 0%), #111);
      bottom: 0;
      content: "";
      display: block;
      height: 60px;
      left: 0;
      position: absolute;
      right: 0;
    }
  }

  .job {
    color: #666;
    filter: grayscale(1);
    transition: filter 0.3s ease;

    :global(.job-icon) {
      height: 16px;
      opacity: 0.5;
      width: 16px;
    }

    :global(.job-abbr) {
      bottom: -2px;
      font-size: 14px;
      position: relative;
    }

    :global(.job-name) {
      display: none;
    }
  }

  .owner {
    color: #666;
    font-style: italic;
    font-weight: 300;
  }

  .timestamp {
    font-size: $font-size-sm;
    opacity: 0.33;
  }
}

.prompt {
  align-items: center;
  background-color: rgb(0 0 0 / 90%);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: $spacing-base;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 4;

  b {
    color: $color-alt;
    font-weight: 700;
  }
}

.promptActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
