@import "styles/mixins";

.layoutCard {
  background-color: #111;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition-duration: 0.33s;
  transition-property: box-shadow, transform;
  transition-timing-function: ease;

  .cardActions {
    opacity: 0;
    position: absolute;
    right: $spacing-sm;
    top: $spacing-sm;
    transition: opacity $timing-default ease;
    transition-delay: 0.15s;
  }

  .deleteIcon {
    height: 16px;
    margin: 0;
    width: 16px;
  }

  .deleteButton {
    background-color: transparent;
    box-shadow: none;
    font-size: $font-size-xs;
    height: 24px;
    line-height: 1;
    min-height: unset;
    padding: $spacing-xs;
    width: 24px;

    :global(.icon) {
      filter: $icon-filter-white;
    }

    &:hover,
    &:focus {
      background-color: $color-danger;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 1px 3px $color-alt-light, 0 8px 16px rgb(0 0 0 / 33%);
    transform: translateY(-4px);

    .cardActions {
      opacity: 1;
    }
  }

  .footer {
    padding: $spacing-sm $spacing-base $spacing-base;
    position: relative;

    &::before {
      border-top: 1px solid rgb(255 255 255 / 5%);
      content: '';
      display: block;
      left: $spacing-base;
      position: absolute;
      right: $spacing-base;
      top: 0;
    }
  }

  .job {
    color: #666;
    filter: grayscale(1);
    transition: filter $timing-default ease;

    :global(.job-icon) {
      height: 24px;
      opacity: 0.5;
      width: 24px;
    }

    :global(.job-abbr) {
      bottom: -2px;
      font-size: 16px;
      position: relative;
    }

    :global(.job-name) {
      display: none;
    }
  }

  .profileImage {
    float: left;
    height: $spacing-lg;
    margin-right: $spacing-sm;
    width: $spacing-lg;

    &::after {
      opacity: 0.2;
    }
  }

  .owner {
    font-size: $font-size-base;
    line-height: 1.2;

    a {
      color: #ccc;

      &:hover,
      &:focus {
        color: $color-alt;
        text-decoration: none;
      }
    }
  }

  .timestamp {
    color: #ccc;
    font-size: $font-size-xs;
    font-style: italic;
    line-height: 1.4;
    opacity: 0.5;
  }
}

.prompt {
  align-items: center;
  background-color: rgb(0 0 0 / 90%);
  display: flex;
  inset: 0;
  justify-content: center;
  padding: $spacing-base;
  position: absolute;
  text-align: center;
  z-index: 4;

  b {
    color: $color-alt;
    font-weight: 700;
  }
}

.promptActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tags {
  left: $spacing-base;
  margin-bottom: $spacing-base;
  pointer-events: none;
  position: absolute;
  top: $spacing-base;

  .hearts {
    color: #fff;
    height: 24px;
    min-height: unset;

    :global(.icon) {
      filter: $icon-filter-white;
    }
  }
}

.jobBackdrop {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 170px;
  filter: grayscale(1);
  inset: 0 -55px 0 0;
  opacity: 0.025;
  pointer-events: none;
  position: absolute;
}

.publishTag {
  display: flex;
  font-size: $font-size-sm;
  font-style: italic;
  text-transform: uppercase;
}

.layoutCard.light {
  background-color: #fff;
  box-shadow: $box-shadow;
  color: #333;

  h3,
  .owner a,
  .timestamp {
    color: #333;
  }
}
