@import 'utils/mixins';

.container,
.row {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  flex-direction: column;
  counter-reset: slots;
  > li {
    position: relative;
  }
  > li::before {
    font-weight: 700;
    content: counter(slots);
    counter-increment: slots;
    left: -14px;
    opacity: 0.33;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }
}

.rowWrapper {
  margin: 2px 0;
}

.row {
  flex-direction: row;
}

@media (max-width: $screen-sm) {
  .container {
    > li::before {
      left: 2px;
    }
  }
  .rowWrapper {
    padding-left: 14px;
  }
}

@media (max-width: 540px) {
  .slot {
    height: 30px;
    width: 30px;
    > div {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: $screen-xs) {
  .slot {
    margin: 1px;
    height: 24px;
    width: 24px;
  }
}
