@import 'utils/mixins';

.container,
.row {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  counter-reset: slots;
  flex-direction: column;
  > li {
    position: relative;
  }
  > li::before {
    content: counter(slots);
    counter-increment: slots;
    font-weight: 700;
    left: -14px;
    opacity: 0.33;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.rowWrapper {
  margin: 4px 0;
}

.row {
  flex-direction: row;
}

@media (max-width: $screen-sm) {
  .container > li::before {
    left: 2px;
  }
  .rowWrapper {
    padding-left: 14px;
  }
}
