.container, 
.row {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  flex-direction: column;
  align-items: center;
  counter-reset: slots;
  > li {
    position: relative;
  }
  > li:before {
    counter-increment: slots;
    content: counter(slots);
    font-weight: 700;
    position: absolute;
    left: -14px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.33;
  }
}
.rowWrapper {
  margin: 2px 0;
}
.row {
  flex-direction: row;
}
