@import "styles/mixins";

.lore {
  margin-bottom: $spacing-lg;
}

.loreBody {
  br {
    display: block;
    margin-bottom: 0.45em;
  }
}

.lore[data-expanded="false"] .loreBody {
  display: none;
}

.lore[data-expanded="true"] {
  padding: $spacing-lg;

  .loreBody {
    display: block;
  }
}
