@import "styles/mixins";

.lore {
  font-size: 13px;
  font-style: italic;
  line-height: 1.45em;
  margin: $spacing-lg 0 0;
  opacity: 0.66;

  br {
    display: block;
    margin-bottom: 0.45em;
  }
}
