@import "styles/mixins";

.lore {
  font-style: italic;
  margin-bottom: $spacing-lg;
}

.loreBody {
  font-size: $font-size-lg;
  color: #666;
  font-weight: 300;
  padding-top: $spacing-base;

  br {
    display: block;
    margin-bottom: 0.45em;
  }
}

.lore[data-expanded="false"] .loreBody {
  display: none;
}

.lore[data-expanded="true"] {
  padding: $spacing-lg;

  .loreBody {
    display: block;
  }
}
