@import 'styles/mixins';

$tag-size: 24px;

.tags {
  display: flex;
  flex-direction: row;
  line-height: 1;
}

.tag {
  align-items: center;
  background-color: #ddd;
  border-radius: 4px;
  color: $color-gray;
  display: flex;
  font-size: $font-size-xs;
  height: $tag-size;
  justify-content: center;
  margin-right: $spacing-xs;
  padding: 2px 6px 2px 4px;
  transform: translateZ(0);
}

.name {
  display: block;
  font-weight: 900;
  height: $font-size-base;
  line-height: 12px;
  margin-left: 0.1em;
}

.jobTag {
  .tag {
    background-color: transparent;
    color: #fff;
    padding: 0;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }

  :global(.job-wrapper) {
    height: $tag-size;
    padding: 2px $spacing-sm 2px 0;
  }

  :global(.job-abbr) {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin-right: 0;
  }

  :global(.job-icon) {
    height: 100%;
    height: 20px;
    width: 24px;
  }
}
