@import 'styles/mixins';

.tags {
  display: flex;
  flex-direction: row;

  a:hover .tag {
    background-image: linear-gradient(#fff, #ddd);
  }
}

.tag {
  align-items: center;
  background-image: linear-gradient(#ddd, #ccc);
  border-radius: 2px;
  box-shadow: inset 0 2px 3px rgb(0 0 0 / 25%);
  color: $color-gray;
  display: inline-flex;
  font-size: 11px;
  font-weight: 900;
  height: 24px;
  justify-content: center;
  line-height: 1;
  margin-right: $spacing-xs;
  padding: 0 $spacing-sm;
  transition: background-image 0.3s ease;

  :global(.job-abbr) {
    font-family: inherit;
    font-weight: inherit;
    margin-right: 0;
  }

  :global(.job-icon) {
    display: block;
    filter: $icon-filter-black;
    height: 75%;
    margin-left: -2px;
    margin-right: 2px;
    object-fit: contain;
    width: 75%;
  }
}
