.container {
  margin-bottom: var(--spacing-base);
  padding-bottom: var(--spacing-base);

  &:last-child {
    margin-bottom: 0;
  }
}

.groupTitle {
  color: rgb(255 255 255 / 66%);
  font-size: 10px;
  line-height: 1.2em;
  margin: 0 0 var(--spacing-base);
  text-transform: uppercase;
  white-space: nowrap;
}

.listActions {
  display: grid;
  gap: var(--spacing-base);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0;
  }

  :global(.action)::after {
    transition: none;
  }
}

.container[data-show-titles="true"] .listActions {
  display: block;

  > li {
    margin-bottom: var(--spacing-base);
    margin-left: var(--spacing-sm);

    &:last-child {
      margin-bottom: 0;
    }
  }

  :global(.action) {
    flex-direction: row;

    &::after {
      font-size: var(--font-size-sm);
      margin-left: var(--spacing-base);
      margin-top: 0;
      position: static;
      text-align: left;
    }
  }
}
