@import "styles/mixins";

.container {
  padding-bottom: $spacing-base;
  margin-bottom: $spacing-base;

  &:last-child {
    margin-bottom: 0;
  }
}

.groupTitle {
  color: rgb(255 255 255 / 66%);
  font-size: 10px;
  line-height: 1.2em;
  margin: 0 0 $spacing-base;
  text-transform: uppercase;
  white-space: nowrap;
}

.listActions {
  display: grid;
  grid-gap: $spacing-base $spacing-sm;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container[data-show-titles="true"] .listActions {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
