@import "styles/mixins";

.container {
  padding-bottom: $spacing-base;

  &:last-child {
    margin-bottom: 0;
  }
}

.groupTitle {
  color: rgb(255 255 255 / 66%);
  font-size: 10px;
  line-height: 1.2em;
  margin: 0 0 $spacing-base;
  text-transform: uppercase;
  white-space: nowrap;
}

.listActions {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    min-height: $slot-size * 1.33;
  }
}

[data-help="true"] .listActions {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: $screen-lg-max) {
  .listActions {
    grid-gap: 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: $screen-md) {
  .listActions {
    display: flex;
    flex-wrap: wrap;

    > li {
      height: 36px;
      margin: 6px;
      width: 36px;
    }
  }
}
