@import 'styles/mixins';

.container {
  margin-bottom: $spacing-base;
  &:last-child {
    margin-bottom: 0;
  }
}

.groupTitle {
  color: rgba(255, 255, 255, 0.66);
  font-size: 10px;
  line-height: 1.2em;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  white-space: nowrap;
}

.listActions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    margin: 8px;
  }
}

@media (max-width: $screen-md) {
  .listActions {
    display: flex;
    flex-wrap: wrap;
    > li {
      width: 36px;
      height: 36px;
    }
  }
}
