@import 'styles/mixins';

.actionsGroupContainer {
  margin-bottom: $spacing-sm;
}

.groupTitle {
  color: rgba(255, 255, 255, 0.66);
  font-size: 10px;
  line-height: 1.2em;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  white-space: nowrap;
}

.listActions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 6px;
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    padding-top: 100%;
    position: relative;
    > div {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

@media (max-width: $screen-md) {
  .listActions {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    > li {
      padding-top: 0;
      > div {
        position: relative;
      }
    }
  }
}
