@import "styles/mixins";

.card {
  background-color: #111;
  border: 1px solid transparent;
  border-radius: $border-radius;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $spacing-base;
  position: relative;
  transition: box-shadow 0.3s ease;
}
