@import 'styles/mixins';

$grid-gutter: $spacing-base;

.container {
  position: relative;
}

.listColumns {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: $grid-gutter;
}

.layoutsList {
  display: flex;
  flex-direction: column;
  gap: $grid-gutter;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 33.333%;
}

.title {
  font-size: $font-size-xl;
    margin-top: 0;
}

.moreLink {
  display: inline-block;
  font-size: $font-size-base;
  margin-top: $spacing-sm;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: $screen-lg) {
  .layoutsList {
    &[data-columns="4"] {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: $screen-sm) {
  .moreLink {
    margin-top: $spacing-base;
    position: static;
  }
}


@media (max-width: $screen-xs) {
  .title {
    margin-bottom: $spacing-xs;
  }
}
