@import 'styles/mixins';

$grid-gutter: $spacing-base;

.container {
  margin-bottom: $spacing-xl;
  position: relative;

  h3 {
    color: #999;
    font-size: $font-size-xl;
    font-weight: 400;
  }
}

.listColumns {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: $grid-gutter;

  &[data-columns="4"] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .layoutsList {
      width: auto;
    }
  }
}

.layoutsList {
  display: flex;
  flex-direction: column;
  gap: $grid-gutter;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 33.333%;

  .listItem {
    animation-duration: 0.66s;
    animation-fill-mode: forwards;
    animation-name: enterListItem;
    animation-timing-function: ease;
    margin: 0;
    opacity: 0;
    position: relative;
  }
}

@keyframes enterListItem {
  from {
    opacity: 0;
    top: $spacing-base;
  }

  to {
    opacity: 1;
    top: 0;
  }
}

.title {
  margin-top: 0;
}

.moreLink {
  display: inline-block;
  font-size: $font-size-base;
  margin-top: $spacing-sm;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: $screen-md) {
  .layoutsList {
    width: 50%;
  }
}

@media (max-width: $screen-sm) {
  .layoutsList {
    width: 100%;
  }

  .moreLink {
    margin-top: $spacing-base;
    position: static;
  }
}

@media (max-width: $screen-xs) {
  .title {
    margin-bottom: $spacing-base;
  }
}
