@import "styles/mixins";

.action {
  align-items: center;
  display: flex;
  flex-direction: column;

  &:hover .iconWrapper {
    background-color: rgb(0 0 0 / 80%);
    border-color: #999;
    box-shadow: 0 0 0 2px $color-alt;
    cursor: pointer;
    cursor: grab;
    cursor: grab;
    transform: scale(1.1);
  }

  &:focus .iconWrapper {
    box-shadow: 0 0 0 2px $color-alt;
    outline: none;
  }

  &:active .iconWrapper {
    cursor: grabbing;
    transform: scale(0.9);
  }
}

.action[data-show-title="true"]::after {
  color: #eee;
  content: attr(data-title);
  display: block;
  font-family: Verdana, Arial, sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 1.1;
  margin-top: $spacing-xs;
}

.iconWrapper {
  background-color: rgb(0 0 0 / 66%);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 66%);
  font-size: 10px;
  height: 100%;
  height: $slot-size;
  line-height: 1.2em;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition-duration: 0.33s;
  transition-property: border, box-shadow, opacity, filter, transform;
  transition-timing-function: ease;
  width: $slot-size;

  &::after {
    box-shadow: inset 1px 1px 1px rgb(255 255 255 / 15%), inset -1px -1px 1px rgb(0 0 0 / 33%);
    content: "";
    display: block;
    inset: 0;
    position: absolute;
  }

  img {
    display: block;
    height: 101%;
    object-fit: cover;
    width: 101%;
  }
}

.maincommandType,
.macroiconType,
.companyactionType {
  filter: grayscale(0.9);

  &::before {
    content: "";
    inset: 0;
    position: absolute;
  }

  &:hover {
    filter: grayscale(0);
  }
}
