@import 'styles/mixins';

.action {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #666;
  border-color: #777 #444 #333 #666;
  border-radius: 5px;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  line-height: 1.2em;
  height: $slot-size;
  width: $slot-size;
  position: relative;
  text-align: center;
  transition:
    border 0.33s ease,
    box-shadow 0.33s ease,
    opacity 0.15s ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: #999;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    cursor: grab;
    cursor: -webkit-grab;
  }
  &:focus {
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, 0.8);
    outline: none;
  }
  &:active {
    cursor: grabbing;
  }
  &::after {
    bottom: 0;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.33);
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  @media(max-width: $screen-xs) {
    width: $slot-size-sm;
    height: $slot-size-sm;
  }
}
