@import "styles/mixins";

.xhbControls {
  background-color: $panel-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  flex-direction: row;
  gap: $spacing-lg;
  justify-content: center;
  margin: -$spacing-lg 0 $spacing-lg;
  padding: $spacing-sm $spacing-base;
  text-align: center;
  min-width: $layout-container-width;
}

.xhbControl {
  align-items: center;
  display: flex;
  flex-direction: row;

  .controlLabel {
    margin-right: $spacing-sm;
  }

  .controlGuide + .controlGuide {
    border-left: 1px solid #444;
    display: inline-block;
    margin-left: $spacing-sm;
    padding-left: $spacing-sm;
  }

  label {
    font-size: $font-size-xs;
    display: flex;
    flex-direction: row;
  }

  b {
    align-items: center;
    background-color: #444;
    box-shadow: 1px 1px 1px #000, -1px -1px 1px rgb(255 255 255 / 33%);
    display: inline-flex;
    height: 16px;
    justify-content: center;
    line-height: 1;
    margin: 0 2px;
    padding: 1px;
    width: 24px;

    &.lt {
      border-radius: 0 0 0 8px;
    }

    &.rt {
      border-radius: 0 0 8px;
    }
  }

  select {
    background-color: $panel-bg-dark;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: $font-size-lg;
    font-weight: 100;
    padding: $spacing-sm;

    &:hover,
    &:focus {
      cursor: pointer;
      outline: 1px solid $color-alt;
    }
  }
}
