@import 'styles/mixins';

.content {
  padding: $spacing-base;
  max-width: 420px;

  h3 {
    margin-top: 0;
  }

}

.form {
  border-bottom: 1px solid rgba(255,255,255,0.15);
  padding-bottom: $spacing-base;
  margin-bottom: $spacing-base;

  :global(.control) {
    margin-bottom: $spacing-xs;
  }
}

.titleField {
  font-size: $font-size-xl;
  font-weight: 100;
}

.descriptionField {
  font-size: $font-size-base;
  height: 60px;
  resize: vertical;
}
