@import "styles/mixins";

$button-inset: 10px;
$button-height: 50px;

.title {
  color: rgb(255 255 255 / 50%);
  display: block;
  margin-bottom: $spacing-sm;
  margin-top: 0;
  padding-left: 4px;
}

.jobList {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    margin: $spacing-sm 0;
    position: relative;
    transition: background-color 0.15s ease;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.jobLink {
  align-items: center;
  background-color: $color-gray-dark;
  border-radius: $border-radius;
  display: flex;
  flex: 1 1 auto;
  height: $button-height;
  padding: $spacing-xs;
  position: relative;
  transition: background-color 0.33s ease;

  img {
    transform: scale(0.85);
    transition: transform 0.15s ease;
  }

  &:hover,
  &:focus {
    background-color: $color-gray;
    text-decoration: none;
    z-index: 2;

    + .addBtn {
      opacity: 1;
    }

    img {
      transform: scale(1);
    }
  }
}

.addBtn:global(.button) {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: $border-radius;
  bottom: 0;
  box-shadow: none;
  height: unset;
  justify-content: flex-start;
  opacity: 0.33;
  overflow: hidden;
  padding-left: ($button-height / 2) - $spacing-sm;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity $timing-default ease 0.15s, background-color $timing-default ease 0.15s, width $timing-default ease 0.15s, padding $timing-default ease 0.15s;
  width: $button-height;
  z-index: 2;

  .addIcon,
  .addLabel {
    transition-duration: $timing-default;
    transition-property: width, color, padding, transform;
    transition-timing-function: ease;
  }

  .addLabel {
    display: block;
    flex: 1 1 auto;
    font-size: $font-size-base;
    padding: 0 $spacing-base;
    text-align: left;
    transition-delay: 0.1s;
  }

  .addIcon {
    flex: none;
  }

  &:hover,
  &:focus {
    background-color: #1D1D1D;
    opacity: 1;
    width: 100%;

    .addLabel {
      color: $color-alt;
      padding: 0 $spacing-base 0 $spacing-sm;
    }

    .addIcon {
      filter: $icon-filter-yellow;
      transform: scale(1.25);
    }
  }
}

.classJob {
  flex: 1 1 auto;
  height: 100%;
  margin-right: $button-height + $spacing-xs;
  padding-left: $spacing-xs;
}
