@import "styles/mixins";

$button-inset: 10px;
$button-height: 50px;

.title {
  color: rgb(255 255 255 / 50%);
  display: block;
  margin-bottom: $spacing-sm;
  margin-top: 0;
  padding-left: 4px;
}

.jobList {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    align-items: center;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    margin: $spacing-sm 0;
    position: relative;
    transition: background-color 0.15s ease;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .jobLink {
    align-items: center;
    background-color: $color-gray-dark;
    border-radius: $border-radius;
    display: flex;
    flex: 1 1 auto;
    height: $button-height;
    padding: $spacing-xs;
    position: relative;
    transition: background-color 0.33s ease;

    img {
      transform: scale(0.85);
      transition: transform 0.15s ease;
    }

    &:hover,
    &:focus {
      background-color: $color-gray;
      text-decoration: none;
      z-index: 2;

      + .addBtn {
        background-color: $color-gray;
        opacity: 1;
      }

      .addIcon {
        opacity: 1;
      }

      img {
        transform: scale(1);
      }
    }

    &:active .classJob {
      padding-top: 2px;
    }
  }

  .addBtn:global(.button) {
    align-items: center;
    background-color: $color-gray-dark;
    border: none;
    border-radius: $border-radius;
    bottom: 0;
    box-shadow: none;
    height: unset;
    justify-content: flex-start;
    overflow: hidden;
    padding-left: ($button-height / 2) - $spacing-sm;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.33s;
    transition-property: background-color, width, pading;
    transition-timing-function: $cubic-bezier;
    width: $button-height;
    z-index: 2;

    .addIcon,
    .addLabel {
      transition-duration: $timing-default;
      transition-property: width, color, padding, transform, opacity;
      transition-timing-function: $cubic-bezier;
    }

    .addLabel {
      color: $color-alt;
      display: block;
      flex: 1 1 auto;
      font-size: $font-size-base;
      padding: 0 $spacing-base 0 18px;
      text-align: left;
      transition-delay: 0;
    }

    .addIcon {
      flex: none;
      opacity: 0.45;
    }

    &:hover,
    &:focus {
      background-color: $color-gray-dark;
      opacity: 1;
      transition-delay: 0.25s;
      width: 100%;

      .addLabel {
        transition-delay: 0.33s;
      }

      .addIcon {
        filter: $icon-filter-yellow;
        opacity: 1;
        transform: scale(1.25);
      }
    }
  }

  .classJob {
    box-shadow: inset 1px 1px 1px rgb(255 255 255 / 20%), inset -1px -1px 1px rgb(0 0 0 / 20%);
    flex: 1 1 auto;
    height: 100%;
    margin-right: $button-height;
    padding-left: $spacing-xs;
  }
}
