@import "styles/mixins";

.title {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 0;
  padding: 14px 20px 0;
}

.jobList {
  display: grid;
  grid-column-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: auto;
  list-style: none;
  padding: 10px;
  a {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0,0,0,0);
    color: #fff;
    display: block;
    padding: 4px 10px 4px 4px;
    transition: background-color 0.15s ease, outline 0.15s ease;
    img {
      transform: scale(0.85);
      transition: transform 0.15s ease;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      background-image:
        linear-gradient(
          rgba(0, 0, 0, 0),
          rgba(255, 255, 255, 0.1)
        );
      border-color: rgba(255,255,255,0.25);
      border-radius: 2px;
      text-decoration: none;
      img {
        transform: scale(1);
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .jobList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: $screen-xs) {
  .jobList {
    grid-template-columns: 1fr;
  }
}
