@import "utils/mixins";

.title {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  margin: 0;
  padding: 10px 20px 4px;
}

.options {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  padding: 10px;
  a {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    display: block;
    padding: 4px 10px 4px 4px;
    transition: background-color 0.15s ease, outline 0.15s ease;
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      background-image:
        linear-gradient(
          rgba(0, 0, 0, 0),
          rgba(255, 255, 255, 0.1)
        );
      border-radius: 2px;
      text-decoration: none;
    }
  }
}

@media (max-width: $screen-sm) {
  .options {
    grid-template-columns: 1fr 1fr;
  }
}
