@import "styles/mixins";

.saveForm {
  padding-top: $spacing-sm;

  input,
  textarea {
    background-color: #fff;
    box-shadow: inset 1px 1px 0 #ccc, inset -1px -1px 0 #eee;
    color: #333;

    &:focus {
      outline: 3px solid $color-alt-dark;
    }
  }

}

.form {
  :global(.control) {
    margin-bottom: $spacing-xs;
  }
}

.titleField {
  font-size: $font-size-xl;
  font-weight: 400;
}

.descriptionField {
  font-size: $font-size-base;
  height: 380px;
  max-height: 60vh;
  min-height: 120px;
  resize: vertical;
}

.actions {
  display: flex;
  flex-direction: row;
}
