@import "styles/mixins";

.saveForm {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  label {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  input,
  textarea {
    background-color: #fff;
    box-shadow: inset 1px 1px 0 #ccc, inset -1px -1px 0 #eee;
    color: #333;

    &:focus {
      outline: 3px solid $color-alt;
    }
  }

  textarea {
    font-size: 1em;
  }

  small {
    float: right;
    font-style: italic;
  }

  :global(.control) {
    margin-bottom: $spacing-xs;
  }
}

.titleField {
  font-size: $font-size-xl;
  font-weight: 400;
}

.descriptionField {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: $font-size-base;

  textarea {
    flex: 1 1 auto;
    min-height: 120px;
    resize: none;
  }
}

.actions {
  display: flex;
  flex-direction: row;
}

.options:global(.control) {
  margin: $spacing-sm 0 $spacing-base;

  label {
    align-items: center;
    display: grid;
    font-weight: 400;
    gap: $spacing-xs;
    grid-template-columns: 20px auto;
    justify-content: flex-start;
  }

  .optionLabel {
    font-size: $font-size-base;
    line-height: $font-size-lg;
  }

  .optionInfo {
    font-style: italic;
    grid-column-start: 2;
    line-height: $font-size-base;
  }
}

.message {
  align-self: flex-start;
  font-style: italic;
  margin-top: $spacing-base;
  padding: $spacing-base;
  text-align: left;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease;

  &:global(.info) {
    background-color: $color-gray-light-3;
  }
}
