.prompt {
  margin-top: 10%;
  text-align: center;
  width: 100%;

  h3 {
    color: var(--color-gray);
    margin: var(--spacing-lg) 0 0;
  }

  button {
    margin: var(--spacing-base) 0 var(--spacing-lg);
  }

  ul {
    color: #666;
    font-size: var(--font-size-base);
    font-style: italic;
    margin: 0;
    text-align: left;

    li {
      margin: var(--spacing-xs);
    }
  }
}
