@import 'styles/mixins';

.prompt {
  margin-top: 4vh;
  text-align: center;

  h3 {
    margin: $spacing-lg 0 0;
  }

  button {
    margin: $spacing-base 0 $spacing-lg;
  }

  ul {
    color: #666;
    font-size: $font-size-base;
    margin: 0;
    text-align: left;
  }
}

@media (max-width: $screen-md-max) {
  .prompt {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: $spacing-lg;
    justify-content: center;
    margin-top: $spacing-base;

    h3 {
      margin-top: 0;
    }
  }
}
