@import 'styles/mixins';

.prompt {
  margin-top: 4vh;
  text-align: center;
  width: 100%;

  h3 {
    color: $color-gray;
    margin: $spacing-lg 0 0;
  }

  button {
    margin: $spacing-base 0 $spacing-lg;
  }

  ul {
    color: #666;
    font-size: $font-size-base;
    font-style: italic;
    margin: 0;
    text-align: left;

    li {
      margin: $spacing-xs;
    }
  }
}
