@import "styles/mixins";

.container {
  align-items: center;
  background-color: #fff;
  display: flex;
  padding: $spacing-sm $spacing-base;
}

.branding {
  align-items: center;
  font-size: 14px;
  color: #333;
  display: flex;

  b {
    margin: 0 $spacing-base 0 $spacing-xs;
  }

  &:hover {
    text-decoration: none;
  }
}
