@import "styles/mixins";

.wrapper {
  white-space: nowrap;
}

.icon {
  height: 32px;
  margin-right: 6px;
  vertical-align: middle;
  width: 32px;
}

.abbr {
  font-family: "Lucida Console", Consolas, monospace;
  font-size: 1em;
  font-weight: 400;
  margin-right: 6px;
}

.name {
  color: rgb(255 255 255 / 75%);
}
