@import 'utils/mixins';

.icon {
  height: 32px;
  margin-right: 6px;
  vertical-align: middle;
  width: 32px;
}

.abbr {
  font-family: "Lucida Console", Consolas, monospace;
  font-size: 1.15em;
  font-weight: 300;
  margin-right: 6px;
}

.name {
  color: rgba(255, 255, 255, 0.75);
}
