@import "styles/mixins";

$panel-height: 52px;

.xhbControls {
  align-items: flex-end;
  background-color: $panel-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow-2;
  display: flex;
  flex-direction: row;
  gap: $spacing-lg;
  height: $panel-height;
  justify-content: center;
  margin-bottom: $spacing-base;
  margin-top: -$panel-height;
  min-width: $layout-container-width;
  opacity: 0;
  padding: 0 $spacing-base;
  text-align: center;
  transition-duration: 0.33s;
  transition-property: opacity, transform, margin-top;
  transition-timing-function: $cubic-bezier;

  &[data-active="true"] {
    margin-top: 0;
    opacity: 1;
  }
}

.xhbControl {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: $panel-height;

  .controlLabel {
    margin-right: $spacing-sm;
  }

  .controlGuide + .controlGuide {
    border-left: 1px solid #444;
    display: inline-block;
    margin-left: $spacing-sm;
    padding-left: $spacing-sm;
  }

  label {
    color: $color-gray-light;
    display: flex;
    flex-direction: row;
    font-size: $font-size-xs;
  }

  b {
    align-items: center;
    background-color: #444;
    box-shadow: 1px 1px 1px #000, -1px -1px 1px rgb(255 255 255 / 33%);
    display: inline-flex;
    height: 16px;
    justify-content: center;
    line-height: 1;
    margin: 0 2px;
    padding: 1px;
    width: 24px;

    &.lt {
      border-radius: 0 0 0 8px;
    }

    &.rt {
      border-radius: 0 0 8px;
    }
  }

  select {
    background-color: $panel-bg-dark;
    border: none;
    border-radius: $border-radius;
    color: #fff;
    font-size: $font-size-lg;
    padding: $spacing-sm;

    &:hover,
    &:focus {
      color: $color-alt;
      cursor: pointer;
      outline: 1px solid $color-alt;
    }
  }
}

@media (max-width: $screen-md) {
  .xhbControls {
    transform: scale(0.825);
  }
}
