@import "styles/grid";

.title {
  display: block;
  margin-bottom: $spacing-base;

  [data-role] {
    display: flex;
    padding: 100px $spacing-base $spacing-base;
  }

  :global(.job-name) {
    font-size: 30px;
    text-transform: uppercase;
  }
}

.job {
  flex: 1 1 auto;
}

.header {
  margin-bottom: $spacing-lg;
}

.newLink {
  display: inline-flex;
  padding-left: $spacing-xl;
  padding-right: $spacing-xl;
}

@media (max-width: $screen-sm) {
  .header {
    display: block;
  }
}
