@import "styles/grid";

.title {
  margin-bottom: $spacing-lg;
}

.job {
  flex: 1 1 auto;
}

.header {
  margin-bottom: $spacing-lg;
}

.newLink {
  max-width: 320px;
}

@media (max-width: $screen-sm) {
  .header {
    display: block;
  }
}
