@import "styles/mixins";

.tabs {
  margin: 0 $spacing-sm;
}

.tabButton {
  border: none;
  border-radius: 0;
  height: 32px;
  padding: 0 10px;
  width: 100%;

  &:hover {
    border: none;
  }

  &[data-active="true"] {
    background-color: $panel-bg;
    border-bottom-color: $panel-bg;
    color: $color-alt;
    pointer-events: none;
  }
}

.tabItems {
  border-bottom: 0;
  border-radius: $border-radius $border-radius 0 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    .tabButton {
      font-weight: 400;

      &[data-active="true"] {
        font-weight: 700;
      }
    }

    &:first-child .tabButton {
      border-radius: 4px 0 0;
    }

    &:last-child .tabButton {
      border-radius: 0 4px 0 0;
    }
  }
}
