@import "styles/mixins";

.tabs {
  margin: 0 $spacing-sm;
}

.tabButton {
  border: none;
  border-radius: 0;
  height: 32px;
  padding: 0 10px;
  width: 100%;

  &:hover {
    border: none;
  }

  &[data-active="true"] {
    background-color: $gray1;
    border-bottom-color: $gray1;
    box-shadow: none;
    color: #fff;
    pointer-events: none;
  }
}

.tabItems {
  border: 2px solid $panel-bg;
  border-bottom: 0;
  border-radius: $border-radius $border-radius 0 0;
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    &:first-child .tabButton {
      border-radius: 4px 0 0;
    }

    &:last-child .tabButton {
      border-radius: 0 4px 0 0;
    }
  }
}
