@import 'styles/mixins';

.container {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  padding: 0 $spacing-base;
}

.buttonToggle {
  border: 2px solid $panel-bg;
  border-bottom: none;
  border-radius: 6px 6px 0 0;

  display: flex;
  flex-direction: row;
  height: 32px;
  padding: 0;
  z-index: 2;
  position: relative;
  .label {
    align-items: center;
    color: rgba(255, 255, 255, 0.66);
    display: flex;
    justify-content: center;
    padding: 0 16px;
    transition:
      background 0.33s ease,
      box-shadow 0.33s ease,
      color 0.33s ease;
    &[data-selected=true] {
      background-color:$panel-bg;
      color: #fff;
    }
  }
  &:hover {
    border: 2px solid $panel-bg-dark;
    border-bottom: none;
    .label[data-selected=false] {
      color: #fff;
    }
  }
}
