@import "styles/mixins";

.controls,
.view {
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.view {
  background-color: $panel-bg;
  flex: 1 1 auto;
  position: relative;
}

.content {
  padding: $spacing-lg;
  overflow-x: hidden;
  overflow-y: auto;
  top: $spacing-xs;
  left: 0;
  right: 0;
  bottom: $spacing-xs;
  position: absolute;
}


@media (max-width: $screen-md) {
  .view {
    padding: $spacing-xs;
  }
}

@media (max-width: $screen-sm) {
  .view {
    border-radius: 0;
  }
}

@media (max-width: $screen-xs) {
  .view {
    border-radius: 0;
    margin-left: -$spacing-base;
    margin-right: -$spacing-base;
    width: auto;
  }
}
