@import 'styles/mixins';

.controls {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.uiLayout {
  background-color: $panel-bg;
  box-shadow: 0 6px 20px 4px #00000080;
  border-radius: $border-radius;
  width: 100%;
  padding: $spacing-base;
  flex: 1 1 auto;
}

@media (max-width: $screen-md) {
  .uiLayout {
    padding: $spacing-xs;
  }
}

@media (max-width: $screen-sm) {
  .uiLayout {
    border-radius: 0;
  }
}

@media (max-width: $screen-xs) {
  .uiLayout {
    width: auto;
    border-radius: 0;
    margin-left: -$spacing-base;
    margin-right: -$spacing-base;
  }
}
