@import "styles/mixins";

.collapseBtn {
  border-radius: 16px;
  font-size: 18px;
  font-weight: 400;
  height: 24px;
  left: -12px;
  line-height: 18px;
  padding: 0 0 3px;
  position: absolute;
  top: -12px;
  width: 24px;
  z-index: 1;
}

.container {
  animation: enterButton 0.66s ease;
  animation-fill-mode: forwards;
  bottom: $spacing-base;
  position: fixed;
  right: $spacing-sm;
  transition: transform 0.66s ease;

  &[data-collapsed="true"] {
    animation: exitButton 0.66s ease;
    transform: translateX(82%);

    .collapseBtn {
      display: none;
    }
  }

  &:hover {
    transform: translate(0);
  }
}

.button {
  align-items: center;
  background-color: rgb(0 0 0 / 70%);
  border-radius: 6px;
  color: #fff;
  display: inline-flex;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.25em;
  margin-bottom: $spacing-sm;
  max-width: 280px;
  padding: 10px;
  transition: background-color 0.33s ease;

  b {
    font-weight: 700;
  }

  .icon {
    align-items: center;
    color: rgb(0 0 0 / 0%);
    display: inline-block;
    display: flex;
    height: 32px;
    justify-content: center;
    margin-right: 1em;
    width: 32px;

    &::before {
      color: #fff;
      content: "🍺";
      display: inline-block;
      font-size: 32px;
      position: absolute;
    }
  }

  &:hover .icon::before {
    content: "🍻";
  }

  &:hover {
    background-color: rgb(0 0 0 / 100%);
    text-decoration: none;
  }
}

@keyframes enterButton {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitButton {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(82%);
  }
}
