@import 'utils/mixins';

.button {
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 6px;
  color: #fff;
  display: inline-flex;
  padding: 10px;
  margin-bottom: $spacing-sm;
  text-align: center;
  transition: background-color 0.33s ease;
  max-width: 240px;
  line-height: 1.25em;
  .icon {
    margin-right: 0.33em;
    font-size: 32px;
  }

  &:hover {
    background-color: rgba(0,0,0,1);
    text-decoration: none;
  }
}
