@import 'styles/mixins';

.button {
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  border-radius: 6px;
  color: #fff;
  display: inline-flex;
  padding: 10px;
  margin-bottom: $spacing-sm;
  text-align: center;
  transition: background-color 0.33s ease;
  max-width: 240px;
  line-height: 1.25em;
  .icon {
    display: inline-block;
    margin-right: 0.33em;
    color: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    &::before {
      display: inline-block;
      color: #fff;
      content: '🍺';
      font-size: 32px;
      position: absolute;
    }
  }
  &:hover .icon:before {
    content: '🍻';
  }

  &:hover {
    background-color: rgba(0,0,0,1);
    text-decoration: none;
  }
}
