@import 'styles/mixins';

.container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: $spacing-base;
  justify-content: flex-start;
  margin: $spacing-base 0;
  padding-top: $spacing-base;
}

.controlGroup {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs;
  position: relative;
}

.groupLabel {
  bottom: 100%;
  color: $color-gray-light;
  font-size: $font-size-sm;
  left: 0;
  position: absolute;
}

.control {
  align-items: center;
  background-color: $color-gray-dark-2;
  border-radius: $border-radius;
  color: #ddd;
  display: inline-flex;
  flex-direction: row;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1;
  padding: 10px $spacing-base;
  user-select: none;

  &:hover {
    color: #fff;
    cursor: pointer;
  }

  input {
    margin: 0 $spacing-sm 0 0;

    &:checked + span {
      color: $color-alt;
    }
  }
}

.controlSort {
  background-color: $color-gray-dark-2;
  border-radius: $border-radius;
  gap: 0;
}
