@import 'src/utils/mixins';

.slot {
  background-color: rgba(0,0,0,0.5);
  border: $slot-border-size solid #111;
  font-size: 11px;
  line-height: 1.2em;
  height: $slot-size;
  width: $slot-size;
  border-radius: 4px;
  position: absolute;
  user-select: none;
  transition:
    background-color 0.33s ease,
    transform 0.33s ease;
  will-change: background-color transform;
  &[data-state=active] {
    background-color: rgba(0,0,0,1);
    transform: scale(1.1);
  }
  &:nth-child(1) {
    bottom: 0;
  }
  &:nth-child(3) {
    top: 0;
  }
  &:nth-child(1),
  &:nth-child(3) {
    left: 50%;
    margin-left: -$slot-size / 2;
  }
  &:nth-child(2) {
    left: 0;
  }
  &:nth-child(4) {
    right: 0;
  }
  &:nth-child(2),
  &:nth-child(4) {
    top: 50%;
    margin-top: -$slot-size / 2;
  }
}
