@import 'src/utils/mixins';

.slot {
  background-color: rgba(0,0,0,0.5);
  border: 2px solid #111;
  font-size: 11px;
  line-height: 1.2em;
  height: $slot-size;
  width: $slot-size;
  border-radius: 4px;
  padding: $slot-spacing;
  position: absolute;
  user-select: none;
  transition:
    background-color 0.33s ease,
    transform 0.33s ease;
  will-change: background-color transform;
  &[data-state=active] {
    background-color: rgba(0,0,0,1);
    transform: scale(1.1);
  }
  &.lTop, &.rTop {
    top: 0;
  }
  &.lBottom, &.rBottom {
    bottom: 0;
  }
  &.lRight, &.lLeft,
  &.rRight, &.rLeft {
    top: ($slot-size + $slot-spacing) / 2;
  }
  &.lTop {
    left: $slot-size + $slot-spacing;
  }
  &.lRight {
    left: ($slot-size + $slot-spacing) * 2;
  }
  &.lBottom {
    left: $slot-size + $slot-spacing;
  }
  &.lLeft {
    left: 0;
  }
  &.rTop {
    right: $slot-size + $slot-spacing;
  }
  &.rRight {
    right: 0;
  }
  &.rBottom {
    right: $slot-size + $slot-spacing;
  }
  &.rLeft {
    right: ($slot-size + $slot-spacing) * 2;
  }
}
