@import 'styles/mixins';

$tooltip-width: 320px;

.tooltip {
  left: 0;
  top: 0;
  animation: tooltipEnter 0.33s ease;
  animation-fill-mode: forwards;
  border: 1px solid #666;
  border-color: #999 #555 #444 #888;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-weight: 400;
  opacity: 1;
  padding: 10px 16px;
  pointer-events: none;
  position: fixed;
  text-align: left;
  transition:
    opacity 0.33s ease,
    transform 0.33s ease;
  transition-delay: 0s;
  transform-origin: left top;
  width: $tooltip-width;
  white-space: pre-wrap;
  z-index: 10;
  &[aria-hidden=true] {
    display: none;
  }
  div {
    margin: 0.66em 0;
  }
}

.title {
  margin: 0;
  font-size: 16px;
  margin-bottom: 0.66em;
}

.description {
  font-size: 14px;
  line-height: 1.45em;
  margin: 0;
}

@keyframes tooltipEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
