@import 'utils/mixins';

$tooltip-width: 320px;

.tooltip {
  animation: tooltipEnter 0.33s ease;
  animation-fill-mode: forwards;
  border: 1px solid #666;
  border-color: #999 #555 #444 #888;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-weight: 400;
  margin-left: 8px;
  opacity: 1;
  padding: 10px 16px;
  pointer-events: none;
  position: absolute;
  text-align: left;
  top: 0;
  transform: scale(1.05);
  transition:
    opacity 0.33s ease,
    transform 0.33s ease;
  transition-delay: 0s;
  width: $tooltip-width;
  white-space: pre-wrap;
  z-index: 10;
  &[aria-hidden=true] {
    display: none;
  }
  &.right {
    margin-left: $outer-slot-size + 4px;
  }
  &.left {
    margin-left: -$tooltip-width - 6px;
  }
  &.bottom {
    bottom: 0;
    top: unset;
  }
  div {
    margin: 0.66em 0;
  }
}

.title {
  margin: 0;
  font-size: 16px;
  margin-bottom: 0.66em;
}

.description {
  font-size: 14px;
  line-height: 1.45em;
  margin: 0;
}

@keyframes tooltipEnter {
  from {
    opacity: 0;
    transform: translateX(-10px) scale(0.975);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}
