@import "styles/mixins";

$tooltip-width: 320px;

.tooltip {
  animation: tooltipEnter 0.33s ease;
  animation-fill-mode: forwards;
  background-color: rgb(0 0 0 / 90%);
  border: 1px solid #666;
  border-color: #999 #555 #444 #888;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 66%);
  color: #fff;
  font-weight: 400;
  left: -$tooltip-width;
  opacity: 1;
  padding: 10px 16px;
  pointer-events: none;
  position: fixed;
  text-align: left;
  top: 0;
  transform-origin: left top;
  transition: opacity 0.33s ease, transform 0.33s ease;
  transition-delay: 0s;
  white-space: pre-wrap;
  width: $tooltip-width;
  z-index: 10;

  &[aria-hidden="true"] {
    display: none;
  }

  div {
    margin: 0.66em 0;
  }

  br {
    display: block;
    height: 1px;
  }
}

.title {
  font-size: 16px;
  margin: 0;
}

.description {
  font-size: 14px;
  line-height: 1.45em;
  margin: 0.66em 0 0;
}

@keyframes tooltipEnter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: $screen-sm) {
  .tooltip {
    bottom: 0;
    height: 20vh;
    left: 0;
    overflow: auto;
    pointer-events: auto !important;
    position: fixed;
    right: 0;
    top: unset;
    transform: none !important;
    width: 100%;
  }
}
