@import "styles/mixins";

$tooltip-width: 320px;

.tooltip {
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  z-index: 10;

  &[aria-hidden="true"] {
    display: none;
  }

  div {
    margin: 0.66em 0;
  }

  br {
    display: block;
    height: 1px;
  }

  &[data-anchor*='right'] .content {
    left: unset;
    right: 0;
  }

  &[data-anchor*='bottom']  .content{
    bottom: 0;
    top: unset;
  }
}

.tooltip .content {
  animation: tooltipEnter 0.33s ease;
  animation-fill-mode: forwards;
  background-color: rgb(0 0 0 / 90%);
  border: 1px solid #666;
  border-color: #999 #555 #444 #888;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 66%);
  color: #fff;
  font-weight: 400;
  left: 0;
  margin: 0;
  opacity: 1;
  padding: 10px 16px;
  position: absolute;
  text-align: left;
  top: 0;
  transform-origin: left top;
  transition: opacity 0.33s ease 0s;
  white-space: pre-wrap;
  width: $tooltip-width;
}

.title {
  font-size: 16px;
  margin: 0;
}

.description {
  font-size: 14px;
  line-height: 1.45em;
  margin: 0.66em 0 0;
}

@keyframes tooltipEnter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-height: $screen-sm) {
  .tooltip {
    bottom: unset;
    height: 98vh;
    left: 0;
    right: unset;
    top: 0;
    transform: none !important;
    width: 98vw;

    .content {
      bottom: $spacing-base;
      left: unset;
      right: $spacing-base;
      top: unset;
    }

    &[data-anchor*='right'] .content {
      left: $spacing-base;
      right: unset;
    }
  }
}

@media (max-width: $screen-sm) {
  .tooltip {
    height: 100vh;
    left: 0;
    pointer-events: none;
    top: 0;
    transform: none !important;
    width: 100vw;

    .content {
      bottom: $spacing-xs !important;
      height: 20vh;
      left: $spacing-xs !important;
      overflow: auto;
      pointer-events: auto;
      position: absolute;
      right: $spacing-xs !important;
      top: unset !important;
      width: unset;
    }
  }
}
