@import 'styles/mixins';

$tooltip-width: 320px;

.tooltip {
  animation: tooltipEnter 0.33s ease;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid #666;
  border-color: #999 #555 #444 #888;
  border-radius: 4px;
  color: #fff;
  font-weight: 400;
  left: 0;
  max-width: $tooltip-width;
  opacity: 1;
  padding: 10px 16px;
  pointer-events: none;
  position: fixed;
  text-align: left;
  top: 0;
  transform-origin: left top;
  transition: opacity 0.33s ease, transform 0.33s ease;
  transition-delay: 0s;
  white-space: pre-wrap;
  z-index: 10;

  &[aria-hidden='true'] {
    display: none;
  }

  div {
    margin: 0.66em 0;
  }

  br {
    display: block;
    height: 1px;
  }
}

.title {
  font-size: 16px;
  margin: 0;
}

.description {
  font-size: 14px;
  line-height: 1.45em;
  margin: 0.66em 0 0 0;
}

@keyframes tooltipEnter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
