@import "styles/mixins";

.button {
  background: rgb(0 0 0 / 0%);
  color: #fff;
  display: block;
  font-size: 24px;
  height: auto;
  padding: $spacing-xs $spacing-base $spacing-xs $spacing-sm;
  transition: background-color 0.33s ease;

  img {
    height: 36px;
    width: 36px;
  }

  &:hover {
    background-color: rgba(255 255 255 / 20%);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0 0 0 / 33%);
  }
}

.container {
  max-height: 100%;
  max-width: 100vw;
  position: relative;
}
