@import "styles/mixins";

.button {
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 24px;
  padding: 10px 20px 10px 10px;
  height: auto;
  display: block;
  margin-left: -10px;
  transition: 
    border 0.33s ease,
    color 0.33s ease;
  img {
    height: 36px;
    width: 36px;
  }
}

.container {
  position: relative;
  max-width: 100vw;
  max-height: 100%;
}

.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: background 0.33s ease;
  z-index: 100;
  .container {
    transition: opacity 0.33s ease, transform 0.33s ease;
  }
  &[aria-hidden=true] {
    background: rgba(0, 0, 0, 0);
    display: flex;
    pointer-events: none;
    overflow: hidden;
    .container {
      opacity: 0;
      transform: scale(1.05);
    }
  }
  &[aria-hidden=false] {
    background: rgba(0, 0, 0, 0.9);
    pointer-events: auto;
    .container {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.closeButton {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  line-height: 1;
  outline: none;
  padding: 4px 10px;
  position: absolute;
  right: 10px;
  top: -2em;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: $screen-sm) {
  .button {
    width: 100%;
    margin-left: 0;
  }
  .closeButton {
    top: 1em;
    right: 1em;
  }
}
