@import "styles/mixins";

.button {
  color: #fff;
  display: block;
  font-size: 24px;
  height: auto;
  margin-bottom: $spacing-sm;
  padding: $spacing-xs $spacing-base $spacing-xs $spacing-xs;
  transition: background-color 0.33s ease;
  width: 100%;

  img {
    height: 36px;
    width: 36px;
  }

  &:hover {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0 0 0 / 33%);
  }

  &[disabled] {
    background: none;
    border: none;
    pointer-events: none;
  }
}

.container {
  max-height: 100%;
  max-width: 100vw;
  position: relative;
}
