@import "styles/mixins";

.button {
  background: rgb(0 0 0 / 0%);
  color: #fff;
  display: block;
  font-size: 24px;
  height: auto;
  padding: $spacing-sm 20px $spacing-sm $spacing-sm;
  transition: background-color 0.33s ease;

  img {
    height: 36px;
    width: 36px;
  }
}

.container {
  max-height: 100%;
  max-width: 100vw;
  position: relative;
}

@media (max-width: $screen-sm) {
  .button {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: $screen-xs) {
  .container {
    max-width: unset;
    width: 100vw;
  }
}
