@import "styles/mixins";

.button {
  background: rgb(0 0 0 / 0%);
  color: #fff;
  display: block;
  font-size: 24px;
  height: auto;
  margin-left: -10px;
  padding: $spacing-xs 20px $spacing-xs 10px;
  transition: background-color 0.33s ease;

  img {
    height: 36px;
    width: 36px;
  }

  &:hover {
    background-color: rgba(255,255,255,15%);
  }
}

.container {
  max-height: 100%;
  max-width: 100vw;
  position: relative;
}

@media (max-width: $screen-sm) {
  .button {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: $screen-xs) {
  .container {
    max-width: unset;
    width: 100vw;
  }
}
