@import 'src/utils/mixins';

$xbar-width: $xbar-group-width * 3;

.xbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $xbar-width * 1.6;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
}

.group {
  margin: 0 10px;
  position: relative;
  height: $xbar-group-height;
  width: $xbar-group-width * 2;
  &:nth-child(2) {
    margin-right: 25px;
    &:after {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: -20px;
      border-right: 1px solid rgba(255,255,255,0.33);
    }
  }
}
