@import 'src/utils/mixins';



.xbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $xbar-width * 1.6;
  margin-left: auto;
  margin-right: auto;
}

.group {
  margin: 0 10px;
  position: relative;
  height: $xbar-group-height;
  width: $xbar-group-width * 2;
}

:global(#primary) {
  order: 2;
  width: $primary-xbar-width * 1.6;
  .group {
    height: $primary-xbar-group-height;
    width: $primary-xbar-group-width * 2;
  }
  .group:nth-child(2) {
    margin-right: $slot-spacing * 6;
    &:after {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      right: -$slot-spacing * 4;
      border-right: 1px solid rgba(255,255,255,0.33);
    }
  }
}

:global(#secondary) {
  order: 1;
}

:global(#tertiary) {
  order: 3;
}

:global(#secondary),
:global(#tertiary) {
  :local(.group):nth-child(1),
  .group:nth-child(2) {
    transform: translateX(-$xbar-group-width/1.25);
  }
  .group:nth-child(3),
  .group:nth-child(4) {
    transform: translateX($xbar-group-width/1.25);
  }
}
