@import 'src/utils/mixins';

$xbar-width: $xbar-group-width * 3;

.xbar {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $xbar-width * 1.6;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
}

.group {
  margin: 10px;
  position: relative;
  height: $xbar-group-height;
  width: $xbar-group-width * 2;
}
