@import 'styles/mixins';

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding-bottom: 0;
}

.title {
  margin-bottom: 0;
}

.returnLink {
  font-weight: 300;
  letter-spacing: 0.045em;
  display: inline-block;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-base;
}

.headerBody {
  padding-bottom: 0;
}

.description[data-expanded=false] {
  display: none;
}
.description[data-expanded=true] {
  display: block;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }
}

.sectionTitle {
  text-align: center;
  margin-bottom: $spacing-base;
  margin-top: 0;
}

.toggleButton {
  background-color: unset;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  border: none;
  width: 100%;
  height: 32px;
  opacity: 0.33;
  transition: background-image 0.33s ease, opacity 0.33s ease; 
  &:hover, &:active {
    background-color: unset;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    border: none;
    opacity: 0.66;
  }
  &[data-active=true] .toggleIcon {
    transform: rotate(180deg);
  }
}

$icon-size: 6px;

.toggleIcon {
  display: inline-block;
  width: 0; 
  height: 0; 
  border-left: $icon-size solid transparent;
  border-right: $icon-size solid transparent;
  border-top: 8px solid #fff;
  transition: opacity 0.33s ease;
}

.container {
  display: flex;
  position: relative;
  height: 480px
}

.main,
.sidebar {
  height: 100%;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: $spacing-base;
}

.sidebar {
  width: $sidebar-width;
}

@media (max-width: $screen-md) {
  .main,
  .sidebar {
    border: none;
    padding: 0;
    width: unset;
  }
  
  .container {
    flex-direction:column;
    height: unset;
    .sidebar {
      order: 2;
      margin-top: $spacing-lg;
      height: 100%;
    }
    .main {
      display: block;
    }
  }
}
