@import "styles/mixins";

.header {
  border-bottom: 1px solid rgb(0 0 0 / 90%);
  padding-bottom: 0;
}

.title {
  margin-bottom: 0;
}

.returnLink {
  display: inline-block;
  font-weight: 300;
  letter-spacing: 0.045em;
  margin-bottom: $spacing-base;
  margin-top: $spacing-sm;
}

.headerBody {
  padding-bottom: 0;
}

.description {
  &[data-expanded="false"] {
    display: none;
  }

  &[data-expanded="true"] {
    display: block;
  }
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $screen-sm) {
    flex-direction: column;
  }
}

.sectionTitle {
  margin-bottom: $spacing-base;
  margin-top: 0;
  text-align: center;
}

.toggleButton {
  background-color: unset;
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%));
  border: none;
  height: 32px;
  opacity: 33%;
  transition: background-image 0.33s ease, opacity 0.33s ease;
  width: 100%;

  &:hover,
  &:active {
    background-color: unset;
    background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 50%));
    border: none;
    opacity: 66%;
  }
}

.pageActions {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

$icon-size: 6px;

.toggleIcon {
  border-left: $icon-size solid transparent;
  border-right: $icon-size solid transparent;
  border-top: 8px solid #fff;
  display: inline-block;
  height: 0;
  transition: opacity 0.33s ease;
  width: 0;
}

.toggleButton [data-active="true"] .toggleIcon {
  transform: rotate(180deg);
}

.container {
  display: flex;
  position: relative;
}

.main,
.sidebar {
  height: 100%;
}

.main {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: $spacing-sm;
}

.sidebar {
  width: $sidebar-width;
}

@media (max-width: $screen-md) {
  .main,
  .sidebar {
    border: none;
    padding: 0;
    width: unset;
  }

  .container {
    flex-direction: column;
    height: unset;

    .sidebar {
      height: 100%;
      margin-top: $spacing-lg;
      order: 2;
    }

    .main {
      display: block;
    }
  }
}
