@import "styles/mixins";

.app {
  padding-top: $spacing-base;
  padding-bottom: $spacing-base;
}

.header {
  border-bottom: 1px solid rgb(0 0 0 / 90%);
  padding: $spacing-lg 0 0;
}

.headerBody {
  padding-bottom: 0;
}

.description {
  &[data-expanded="false"] {
    display: none;
  }

  &[data-expanded="true"] {
    display: block;
  }
}

.controls {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.viewControls {
  button {
    opacity: 50%;
  }

  button[data-active="true"] {
    opacity: 100%;
  }
}

.sectionTitle {
  display: inline-block;
  line-height: 1;
  margin: 0;
}

.toggleButton {
  background-color: unset;
  background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%));
  border: none;
  height: 32px;
  opacity: 33%;
  transition: background-image 0.33s ease, opacity 0.33s ease;
  width: 100%;

  &:hover,
  &:active {
    background-color: unset;
    background-image: linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 50%));
    border: none;
    opacity: 66%;
  }
}

.pageActions {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

$icon-size: 6px;

.toggleIcon {
  border-left: $icon-size solid transparent;
  border-right: $icon-size solid transparent;
  border-top: 8px solid #fff;
  display: inline-block;
  height: 0;
  transition: opacity 0.33s ease;
  width: 0;
}

.toggleButton[data-active="true"] .toggleIcon {
  transform: rotate(180deg);
}

.container {
  align-items: flex-start;
  display: flex;
}

.main {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: $spacing-sm;

  @media (max-width: $screen-lg) {
    padding-left: 0;
  }
}

.sidebar {
  flex: 0 0;
  position: sticky;
  top: 112px + $spacing-base;
  width: $sidebar-width;

  @media (max-width: $screen-lg) {
    display: none;
  }
}
