@import "styles/mixins";

.wrapper {
  align-items: center;
  background-color: $gray0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: stretch;
  padding-bottom: $spacing-base;
}

.title {
  font-size: $font-size-xl;
  margin-bottom: $spacing-sm;
}

.description {
  &[data-expanded="false"] {
    display: none;
  }

  &[data-expanded="true"] {
    display: block;
  }
}

.app {
  flex: 1 1 auto;
  margin: $spacing-base 0;
}

.controlBar {
  background-color: $gray1;
  padding: $spacing-base;
  width: 100%;
}

.controlsContainer,
.controlGroup {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.control {
  margin-right: $spacing-sm;

  button {
    padding-right: 10px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.pageActions {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0;
}

$icon-size: 6px;

.toggleIcon {
  border-left: $icon-size solid transparent;
  border-right: $icon-size solid transparent;
  border-top: 8px solid #fff;
  display: inline-block;
  height: 0;
  transition: opacity 0.33s ease;
  width: 0;
}

.toggleButton [data-active="true"] .toggleIcon {
  transform: rotate(180deg);
}

.container {
  display: flex;
  justify-content: stretch;
  padding-top: $spacing-sm;
  position: relative;
}

.main {
  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: $spacing-xs;
  position: sticky;

  p {
    margin: 0;
  }
}

.sidebar {
  min-width: $sidebar-width;
}

@media (max-width: $screen-lg-max) {
  .sidebar {
    min-width: 30vw;
  }
}

@media (max-width: $screen-md) {
  .main,
  .sidebar {
    border: none;
    padding: 0;
    width: unset;
  }

  .container {
    flex-direction: column;
    height: unset;

    .sidebar {
      height: 100%;
      margin-top: $spacing-lg;
      order: 2;
    }

    .main {
      display: block;
    }
  }

  .controlsContainer {
    align-items: flex-start;
    flex-direction: column;
  }

  .controlGroup {
    margin-top: $spacing-sm;
  }
}
