@import 'styles/mixins';

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 
    0 1px 4px rgba(0,0,0,0.66),
    0 8px 0 rgba(255,255,255,0.5),
    0 6px 8px rgba(0, 0, 0, 0.66);
  padding-bottom: 0;
}

.appSection {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  padding: $spacing-base $spacing-lg $spacing-xl;
  position: relative;
  :global(.container) {
    max-width: $screen-md;
  }

  @media (max-width: $screen-md) {
    :global(.container) {
      padding: 0;
    }
  }
  @media (max-width: $screen-sm) {
    padding-left: $spacing-base;
    padding-right: $spacing-base;
  }
}

.appContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 920px;
  position: relative;
}

.sectionTitle {
  font-size: $font-size-lg;
  font-weight: 200;
  letter-spacing: 0.1em;
  opacity: 0.33;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: $spacing-base;
  margin-top: $spacing-base;
}

.controlPanel {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: $spacing-lg;
}

.sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: $spacing-base;
  width: $sidebar-width;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: center;
  padding-left: $spacing-base;
}

.container {
  display: flex;
  position: relative;
}

.uiLayout {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: $screen-md) {
  .main,
  .sidebar {
    border: none;
    padding: 0;
    width: unset;
  }
  .controlPanel {
    display: block;
    .main {
      justify-content: flex-start;
    }
    .sidebar {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
  .appWrapper,
  .appWrapper .main {
    display: block;
  }
}

@media (max-width: $screen-sm) {
  .controlPanel .main {
    justify-content: space-between;
  }
}

@media (max-width: $screen-xs) {
  .controlPanel .main {
    display: block;
  }
}
