@import "styles/mixins";
@import "styles/grid";

.newLink {
  @include newLink;
}

.layoutsList {
  @include grid;
}

.card {
  box-shadow: 0 0 0 rgb(0 0 0 / 33%);
  height: 100%;
  transition-duration: $timing-default;
  transition-property: transform, box-shadow, border;
  transition-timing-function: ease;

  h4 {
    transition: color $timing-default ease;
  }

  &:hover {
    border-color: $color-alt;
    box-shadow: 0 8px 20px rgb(0 0 0 / 33%);

    h4 {
      color: $color-alt;
    }
  }
}

.newCard {
  background-color: rgb(0 0 0 / 33%);

  &:hover :global(.icon) {
    filter: $icon-filter-yellow;
  }
}

.placeholder {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 160px;
  opacity: 0.66;
}
