@import "styles/mixins";

.layoutsList {
  display: grid;
  gap: $spacing-lg;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  margin: 0 0 $spacing-lg;
  padding: 0;

  > li {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }


  a {
    text-decoration: none;
  }

  @media (max-width: $screen-md) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $screen-sm) {
    grid-template-columns: 1fr;
  }
}

.card {
  height: 100%;
  transition-duration: 0.3s;
  transition-property: transform, box-shadow, border;
  transition-timing-function: ease;

  h4 {
    transition: color 0.3s ease;
  }

  &:hover {
    border-color: $color-alt;
    box-shadow: 0 4px 10px rgb(0 0 0 / 33%);

    h4 {
      color: $color-alt;
    }
  }
}

.placeholder {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 160px;
  opacity: 0.66;
}
