.settings {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.profile {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-base);
  gap: var(--spacing-lg);
  line-height: var(--font-size-xl);
  margin: var(--spacing-xl) 0;
}

.profile-image {
  height: 120px;
  width: 120px;
}

.name {
  font-size: var(--font-size-xl-2);
  line-height: 1;
  margin-bottom: var(--spacing-sm);

  .userId {
    font-style: italic;
    font-weight: 100;
    opacity: 0.5;
  }
}

.accountDeletion {
  border-top: 1px solid #666;
  margin-top: var(--spacing-xl);
  padding-top: var(--spacing-lg);

  label {
    color: #fff;
    font-size: var(--font-size-lg);
    font-weight: 400;
  }

  input {
    background-color: #eee;
    color: var(--color-red);
    font-size: var(--font-size-lg);
    font-weight: 600;
    height: 40px;
    margin-top: var(--spacing-sm);
  }
}
