@import "styles/mixins";
@import "styles/grid";

.newLink {
  @include newLink;
}

.layoutsList {
  @include grid;
}

.newCard {
  background-color: rgb(0 0 0 / 33%);

  &:hover :global(.icon) {
    filter: $icon-filter-yellow;
  }
}

.placeholder {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 160px;
  opacity: 0.66;
}

.hgroup {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    margin: 0;
  }
}

.layoutsCount {
  color: #fff;
  font-size: $font-size-xl;
  opacity: 0.8;

  :global(.icon) {
    margin-left: $spacing-sm;
  }
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: $spacing-base;

  .image {
    border-radius: $spacing-sm;
    height: $spacing-xl-2;
    width: $spacing-xl-2;
  }
}
