@import "styles/mixins";

.slot {
  background-color: rgb(255 255 255 / 33%);
  border-radius: 6px;
  box-shadow: inset 2px 2px 1px rgb(0 0 0 / 33%);
  height: $slot-size;
  margin: 2px;
  transition: background-color 0.33s ease, transform 0.33s ease, box-shadow 0.33s ease;
  user-select: none;
  width: $slot-size;

  &:focus,
  &[data-state="active"] {
    background-color: rgb(255 255 255 / 50%);
    box-shadow: inset 0 0 4px rgb(255 255 255 / 10%), 0 0 6px rgb(0 0 0 / 66%);
    outline: none;
    transform: scale(1.15);
  }

  &[data-disabled="true"] {
    background-color: rgb(0 0 0 / 10%);
    pointer-events: none;
  }
}
