@import 'styles/mixins';
@import "styles/scrollbars";

$toggle-width: $spacing-base;
$panel-height: calc(100vh - $header-height);
$panel-width: 360px;
$panel-width-lg: $screen-xs;

.container {
  align-items: flex-end;
  background-color: #f9f9f9;
  display: flex;
  flex: none;
  flex-direction: row;
  height: $panel-height;
  justify-content: flex-end;
  overflow: hidden;
  position: sticky;
  top: $header-height;
  transform: translateZ(0);
  transition-duration: 0.33s;
  transition-property: width, box-shadow;
  transition-timing-function: ease-out;
  width: $screen-xs;

  &[data-hidden='true'] {
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    width: $toggle-width;

    &:hover {
      box-shadow: 1px 0 1px #f9f9f9;
    }
  }

  button.toggleDetailBtn {
    background-color: $color-gray-dark-2;
    border-radius: 0;
    bottom: 0;
    height: unset;
    left: 0;
    position: absolute;
    top: 0;
    width: $toggle-width;
    z-index: 2;

    :global(.icon) {
      transform: rotate3d(0);
      transition-duration: 0.3s;
      transition-property: transform;
      transition-timing-function: ease;
    }

    &[data-active='true'] {
      background-color: $color-alt;

      :global(.icon) {
        filter: $icon-filter-black;
        transform: rotate3d(0, 1, 0, 180deg);
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: $panel-height;
  overflow-y: auto;
  padding: $spacing-base $spacing-base $spacing-lg $spacing-lg;
  transform: translateZ(0);
  transition-duration: 0.33s;
  transition-property: width;
  transition-timing-function: ease-out;
  width: $screen-xs;

  @include customScrollbar;
}

.header,
.body {
  color: $color-gray;
}

.header {
  margin-bottom: $spacing-lg;
}

.title {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: $spacing-base;
  justify-content: space-between;

  h1 {
    color: $color-gray-dark;
    flex: 1 1 auto;
    font-size: $font-size-xl-2;
    font-weight: 300;
  }

  button {
    flex: none;
  }
}

.owner {
  font-size: $font-size-base;
}

.profileImage {
  box-shadow: none;
  height: $spacing-lg;
  width: $spacing-lg;
}

.body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: $font-size-base;
  line-height: 1.45em;
  margin-bottom: $spacing-lg;
}

.meta {
  line-height: 1.4;
  margin-top: $spacing-base;
}

.timestamp {
  font-size: $font-size-sm;
  font-style: italic;
  opacity: 0.75;
}

.footer {
  margin: $spacing-lg 0 0;
  text-align: center;

  img {
    align-items: center;
    box-shadow: 0 2px 0 #555, 0 4px 0 #ccc, 0 8px 0 #eee;
    color: #999;
    display: inline-flex;
    font-style: italic;
    justify-content: center;
  }
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: $spacing-sm;

  + .row {
    margin-top: $spacing-base;
  }
}

.publishedTag {
  font-size: $font-size-sm;
  font-style: italic;
  text-transform: uppercase;

  &[data-published='true'] {
    color: $color-success;
    text-shadow: 0 0 3px #F2FF63;
  }

  &[data-published='false'] {
    color: #666;
  }
}

@media (max-width: $screen-lg-3) {
  .container,
  .content {
    width: $screen-xs;
  }
}

@media (max-width: $screen-lg) {
  .container,
  .content {
    width: $panel-width;
  }
}

@media (max-width: $screen-md) {
  .container {
    height: calc($view-height-md);
  }
}

@media (max-width: $screen-sm) {
  .container,
  .content {
    width: calc(100vw - $spacing-lg);
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
