@import 'styles/mixins';

.container {
  .actions,
  .actionGroup {
    display: flex;
    flex-direction: row;
    gap: $spacing-xs;
  }

  .actions {
    justify-content: space-between;
    padding: 8px $spacing-base 0;
  }

  .actionGroup {
    display: flex;
    flex-direction: row;
  }

  .header,
  .body,
  .meta {
    color: $color-gray;
    padding: 0 $spacing-base;

    h3 {
      color: $color-gray-dark;
      text-transform: none;
    }
  }

  .header {
    margin-top: $spacing-base;

    .owner {
      font-size: $font-size-base;
      opacity: 0.75;

      a {
        color: $color-alt-dark;
      }
    }
  }

  .body {
    margin-top: $spacing-base;

    p {
      font-size: $font-size-base;
      line-height: 1.45em;
    }
  }

  .meta {
    margin-top: $spacing-base;
  }

  .timestamp {
    font-size: $font-size-sm;
    font-style: italic;
    opacity: 0.5;
  }
}
