@import "styles/mixins";

.header {
  padding: $spacing-xl 0;
}

.title {
  margin-bottom: $spacing-base;
  margin-top: 0;
}

@media (max-width: $screen-sm) {
  .header {
    padding: $spacing-xl 0;
  }
}
