@import 'styles/mixins';

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding-bottom: 0;
}

.title {
  margin-bottom: $spacing-base;
  margin-top: 0;
  text-align: center;
}

.outage {
  background-color: rgba(255, 0, 0, 0.4);
  font-size: 16px;
  padding: 30px 50px;

  h2 {
    margin-bottom: $spacing-lg;
  }

  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.33);
    font-size: 18px;
    font-style: italic;
    line-height: 24px;
    margin: $spacing-xl 0;
    padding-left: 32px;
  }
}
