@import 'styles/mixins';

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding-bottom: 0;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: $spacing-base;
}

@media (max-width: $screen-sm) {
  .title {
    text-align: left;
  }
}
