$timing: 0.8s;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
}

.wrapper {
  height: 64px;
  width: 64px;

  img {
    animation: image $timing ease-in-out infinite;
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &::after {
    content: '';
    background-color: #eee;
    border-radius: 50%;
    display: block;
    height: 8px;
    opacity: 0.33;
    width: 60%;
    margin: 0 auto;
    animation: shadow $timing ease-in-out infinite;
  }
}

@keyframes enterLoading {
  from {
    transform: scale(0.6);
  }

  to {
    transform: scale(1);
  }
}

@keyframes image {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1);
    filter: blur(2px);
  }

  33% {
    transform: scale(0.8);
    filter: blur(4px);
  }

  100% {
    transform: scale(1);
    filter: blur(2px);
  }
}
