@import 'styles/mixins';

.wrapper {
  border-radius: 6%;
  box-shadow: $box-shadow;
  display: block;
  max-height: 120px;
  max-width: 120px;
  overflow: hidden;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  &::after {
    border-radius: 6%;
    box-shadow:
      inset  2px 2px 2px rgb(255 255 255 / 25%),
      inset -2px -2px 2px rgb(0 0 0 / 25%);
    content: '';
    display: block;
    inset: 0;
    position: absolute;
    z-index: 2;
  }

  img {
    color: transparent;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;

    &.placeholder {
      background-color: #fff;
      filter: brightness(0.5) invert(0.75);
      object-fit: contain
    }
  }
}
