@import 'styles/mixins';

.actionsPanel {
  display: block;
}

.panel {
  background-color: $panel-bg;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  padding: $spacing-sm $spacing-base $spacing-base $spacing-base;
}

@media (max-width: $screen-sm) {
  .actionsPanel {
    display: block;
    margin-bottom: $spacing-lg;
  }
}
