@import "styles/mixins";
@import "styles/scrollbars";

.actionsPanel {
  display: flex;
  flex-direction: column;
}

.panel {
  background-color: $panel-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  flex: 1 1 auto;
  max-height: calc(100vh - 200px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: $spacing-sm;
}
