@import "styles/mixins";
@import "styles/scrollbars";

.actionsPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.panel {
  background-color: $gray1;
  flex: 1 1 auto;
  position: relative;
}

.content {
  bottom: $spacing-xs;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: $spacing-base;
  position: absolute;
  right: 0;
  top: $spacing-xs;

  @include customScrollbar;
}

@media (max-width: $screen-sm) {
  .actionsPanel {
    border-radius: 0;
    display: block;
    margin-bottom: $spacing-lg;
  }
}
