@import 'styles/mixins';

.tabItems {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 4px;
  padding: 0;
  margin-top: 0;
  border-bottom: 1px solid #555;
}

.tabButton {
  border-color: rgba(0,0,0,0);
  border-radius: 4px 4px 0 0;
  height: 32px;
  &:hover {
    border-bottom-color: rgba(0,0,0,0);
  }
  &[data-active=true] {
    border-bottom-color: #eee;
    background-color: #fff;
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    color: #111;
    pointer-events: none;
  }
}

.sectionTitle {
  color: rgba(255, 255, 255, 0.66);
  font-size: 10px;
  line-height: 1.2em;
  margin: 0 0 0.5em;
  text-transform: uppercase;
  white-space: nowrap;
}

.listActions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0 8px 8px 0;
  }
}

@media (max-width: $screen-md) {
  .actionsPanel {
    display: flex;
    flex-direction: row;
    margin-bottom: $spacing-base;
  }

  .jobActions {
    flex: 1 1 auto;
    .listActions {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .roleActions,
  .generalActions {
    padding-left: $spacing-base;
    .listActions {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: $screen-sm) {
  .actionsPanel {
    display: block;
    margin-bottom: $spacing-lg;
  }
  .roleActions,
  .generalActions {
    padding-left: 0;
    .listActions {
      display: flex;
    }
  }
}
