@import "styles/mixins";

.container,
.row {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  flex-direction: row;

  > li {
    margin: 0 3px;
  }
}

.container {
  align-items: center;
  counter-reset: slots;
  flex-direction: column;
  margin-bottom: $spacing-sm;

  > li {
    position: relative;
  }

  > li::before {
    content: counter(slots);
    counter-increment: slots;
    font-weight: 300;
    left: -20px;
    opacity: 0.66;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.rowWrapper {
  border-bottom: 1px solid rgb(0 0 0 / 33%);
  border-top: 1px solid rgb(255 255 255 / 10%);
  padding: 20px 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }
}
