$timing: 0.8s;

.title {
  transform: translateY(3em);
}

.container {
  align-items: center;
  animation-fill-mode: forwards;
  background-color: rgb(0 0 0 / 90%);
  display: flex;
  inset: 0;
  justify-content: center;
  opacity: 0;
  position: fixed;
  z-index: 10;

  &[aria-hidden="false"] {
    animation: enterLoading 0.25s ease;
    opacity: 1;
  }

  &[aria-hidden="true"] {
    animation: exitLoading 0.25s ease;
    display: flex;
    pointer-events: none;
  }
}

@keyframes enterLoading {
  from {
    opacity: 0;
    transform: scale(1.2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes exitLoading {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  66% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}

.wrapper {
  height: 64px;
  width: 64px;

  img {
    animation: image $timing ease-in-out 0.66s infinite;
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &::after {
    animation: shadow $timing ease-in-out 0.66s infinite;
    background-color: #ddd;
    border-radius: 50%;
    content: "";
    display: block;
    height: 8px;
    margin: 0 auto;
    opacity: 0.33;
    width: 60%;
  }
}

@keyframes image {
  0% {
    transform: translateY(0);
  }

  33% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shadow {
  0% {
    filter: blur(3px);
    transform: scale(1);
  }

  33% {
    filter: blur(2px);
    transform: scale(0.8);
  }

  100% {
    filter: blur(3px);
    transform: scale(1);
  }
}
