@import 'styles/mixins';

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.textWrapper {
  text-align: left;
}

.title {
  color: #fff;
  letter-spacing: 0;
  line-height: 1;
  margin: 0;

  :global(.job-wrapper) {
    padding: $spacing-sm $spacing-base $spacing-sm $spacing-sm;
  }

  :global(.job-abbr) {
    font-size: $font-size-xl-2;
    text-shadow: -1px 2px 2px rgb(0 0 0 / 33%);
  }

  :global(.job-name) {
    font-size: 38px;
  }
}

.role {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: $spacing-sm;
  opacity: 0.66;
}

@media (max-width: $screen-sm) {
  .title {
    :global(.job-abbr) {
      font-size: $font-size-xl-2;
    }

    :global(.job-name) {
      font-size: $font-size-xl-2;
    }
  }
}
