.container {
  display: flex;
  flex-direction: row;
}

.iconWrapper {
  align-self: flex-start;
  background-color: #030303;
  border-radius: 6px;
  margin-right: 12px;
  padding: 6px;

  img {
    display: block;
  }
}

.textWrapper {
  text-align: left;
}

.title {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0;
  margin: 0;
  text-transform: none;
}

.abbr {
  font-family: "Lucida Console", Consolas, monospace;
  font-size: 0.95em;
  font-weight: 300;
  margin-right: 6px;
}

.name {
  color: #ccc;
}

.role {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  opacity: 50%;
}
