.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-wrapper {
  background-color: transparent;
  display: inline-block;
  &[aria-hidden="true"] {
    display: none;
  }
  h3 {
    margin: 0 0 6px;
  }
}

.select {
  color: #fff;
  background: #333;
  border: none;
  display: inline-block;
  font-size: 18px;
  height: 32px;
  padding: 0 8px;
  width: 100%;
}
