.job-select-wrapper {
  background-color: transparent;
  display: inline-block;
}
.job-select {
  color: #fff;
  background: #333;
  border: none;
  display: inline-block;
  font-size: 18px;
  height: 32px;
  padding: 0 8px;
}
