@import 'styles/mixins';

.wrapper {
  bottom: $spacing-base;
  position: fixed;
  right: $spacing-base;
  transition-duration: 0.33s;
  transition-property: opacity, transform;
  transition-timing-function: ease;

  &[data-hidden='true'] {
    opacity: 0;
    pointer-events: none;
    transform: translateY(100px);
  }
}

.donateLink:global(.button) {
  align-items: center;
  display: inline-flex;
  font-weight: 400;
  height: unset;
  padding: $spacing-base;
  transition-property: color, background-color, box-shadow, border, opacity, transform;

  &:hover {
    color: #333 !important;
    text-shadow: none;
    transform: translateY(-4px);
  }

  .donateLabel {
    line-height: 1.15;
    margin-left: $spacing-sm;

    b {
      font-size: 16px;
    }
  }

  &::before {
    color: #fff;
    content: "🍺";
    display: inline-flex;
    font-size: 24px;
    justify-content: center;
    margin-left: -$spacing-xs;
    margin-right: $spacing-xs;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 33%);
    transition: font-size 0.3s ease;
    width: 24px;
  }

  &:hover::before {
    content: "🍻";
    font-size: 30px;
  }
}
