@import "utils/mixins";

.container {
  display: flex;
  flex-direction: column;
}

// Xbar Set

.xbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
  width: 560px;
}

.left {
  padding-right: 10px;
}

.right {
  padding-left: 10px;
}

.left,
.right {
  display: flex;
  flex-direction: row;
}

// Button Group
$group-padding: 10px;

.set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 1px;
  .slot {
    grid-row-end: span 2;
    &:nth-child(1) {
      grid-column-start: 2;
      grid-row-start: 3;
    }
    &:nth-child(2) {
      grid-column-start: 1;
      grid-row-start: 2;
    }
    &:nth-child(3) {
      grid-column-start: 2;
      grid-row-start: 1;
    }
    &:nth-child(4) {
      grid-column-start: 3;
      grid-row-start: 2;
    }
  }
}

.primary {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: $group-padding auto;
  &::after {
    bottom: $slot-border-size;
    border-right: 1px dashed rgba(255, 255, 255, 0.25);
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: $slot-border-size;
  }
}

.secondary,
.tertiary {
  &::before,
  &::after {
    display: block;
    font-size: 10px;
    font-weight: 900;
    opacity: 0.25;
    position: absolute;
    text-align: center;
    width: $xbar-group-width - $slot-size + $slot-border-size;
  }
  &::before {
    left: 15%;
  }
  &::after {
    right: 15%;
  }
}

.secondary {
  &::before,
  &::after {
    top: -0.75em;
  }
  &::before {
    content: "LT × 2";
  }
  &::after {
    content: "RT × 2";
  }
}

.tertiary {
  &::before,
  &::after {
    bottom: -0.75em;
  }
  &::before {
    content: "LT → RT";
  }
  &::after {
    content: "RT → LT";
  }
}

@media (max-width: $screen-xs-max) {
  .xbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 580px) {
  .xbar {
    flex-direction: column;
    padding: 0;
    width: 100%;
  }
  .left,
  .right {
    padding: 6px 0;
  }
  .primary {
    order: 1;
    margin-bottom: inherit;
    margin-top: inherit;
    &::after {
      content: none;
    }
  }
  .secondary,
  .tertiary {
    &::before,
    &::after {
      display: none;
    }
  }
  .secondary {
    order: 2;
  }
  .tertiary {
    order: 3;
  }
}
