@import "styles/mixins";

.macroBtn {
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.exportPrompt {
  textarea {
    background-color: $panel-bg-dark;
    border: none;
    color: #ccc;
    display: block;
    font-family: "Fira Code", Consolas, Courier, monospace;
    font-size: 12px;
    height: 320px;
    padding: $spacing-base;
    width: 100%;
  }
}

.modal[data-active="false"] {
  opacity: 0;
  pointer-events: none;
}

.modal[data-active="true"] {
  opacity: 1;
  pointer-events: auto;
}
