@import "styles/mixins";

.macroBtn {
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.exportPrompt {
  p {
    font-size: $font-size-base;
    line-height: 1.2em;
  }

  :global(.modal-content) {
    max-width: 900px;
  }
}

.textareaContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  textarea {
    background-color: $panel-bg-dark;
    border: none;
    color: #ccc;
    display: block;
    font-family: "Fira Code", Consolas, Courier, monospace;
    font-size: 10px;
    height: 250px;
    padding: $spacing-base;
    width: 32.5%;
  }
}

.modal[data-active="false"] {
  opacity: 0;
  pointer-events: none;
}

.modal[data-active="true"] {
  opacity: 1;
  pointer-events: auto;
}
