@import 'styles/mixins';

.macroBtn {
  margin-left: $spacing-xs;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;

  .modalContent {
    background-color: $panel-bg;
    border-radius: $border-radius;
    max-width: 460px;
    padding: $spacing-base;
    position: relative;

    h3 {
      margin: 0;
    }
  }

  .modalHeader {
    margin: $spacing-sm 0 $spacing-base;
    max-width: 100%;
    position: relative;
  }

  .modalFooter {
    margin-top: $spacing-sm;
    text-align: right;
  }

  textarea {
    background-color: $panel-bg-dark;
    border: none;
    color: #ccc;
    display: block;
    font-family: 'Fira Code', Consolas, Courier, monospace;
    font-size: 12px;
    height: 320px;
    padding: $spacing-base;
    width: 100%;
  }
}

.modal[data-active='false'] {
  opacity: 0;
  pointer-events: none;
}

.modal[data-active='true'] {
  opacity: 1;
  pointer-events: auto;
}
