.textareaWrapper {
  border-color: var(--color-gray);
  padding: 0 var(--spacing-sm) var(--spacing-sm);
  position: relative;

  .copyButton {
    position: absolute;
    right: var(--spacing-base);
    top: var(--spacing-sm);
  }

  textarea {
    background-color: var(--panel-bg-dark);
    border: none;
    color: #ccc;
    display: block;
    font-family: var(--font-monospace);
    font-size: 11px;
    height: 220px;
    line-height: 1.2em;
    margin: 0;
    padding: var(--spacing-sm);
    resize: none;
  }

  &[data-copied='true'] {
    textarea {
      animation: copied 0.33s ease;
    }
  }
}

@keyframes copied {
  from {
    background-color: #333;
  }

  to {
    background-color: var(--panel-bg-dark);
  }
}
