@import "styles/mixins";

.footer {
  background-color: #222;
  color: #999;
  font-size: 12px;
  line-height: 1.45em;
  padding: $spacing-lg 0;
}

.logo {
  text-align: center;
  margin: 0 auto $spacing-base;
}

.container p {
  margin: 0.33em 0;
  text-align: center;
}

.right {
  text-align: right;
}
