@import "styles/mixins";

.footer {
  background-color: #222;
  color: #999;
  font-size: 12px;
  line-height: 1.45em;
  margin-top: $spacing-lg;
  padding: $spacing-lg 0;
}

.container p {
  margin: 0.33em 0;
  text-align: center;
}

.right {
  text-align: right;
}
