@import "styles/mixins";

.footer {
  background-color: #111;
  color: #999;
  font-size: 12px;
  line-height: 1.45em;
  margin-top: $spacing-xl-2;
  padding: $spacing-xl 0;
}

.logo {
  margin: 0 auto $spacing-base;
  text-align: center;
}

.container p {
  margin: 0.33em 0;
  text-align: center;
}

.right {
  text-align: right;
}
