.container {
  margin-right: var(--spacing-xs);

  .locale {
    text-transform: uppercase;
  }

  .menu {
    background-color: #fff;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border-top: 1px solid var(--color-gray-light-2);
    gap: var(--spacing-base);
    list-style: none;
    margin: -1px 0 0;
    padding: 0;
    position: absolute;
    top: 100%;

    a {
      justify-content: flex-start;
    }
  }
}
