@import 'styles/mixins';

.heartBtn {
  height: 24px;
  padding: 0 $spacing-sm;

  &[disabled],
  &[data-disabled='true'] {
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
    pointer-events: none;
  }

  &[data-hearted='true'] {
    background-color: $color-alt-dark;
    color: #fff;

    :global(.icon) {
      filter: $icon-filter-white;
    }
  }

  :global(.icon) {
    margin-right: 0;
  }
}

.count {
  align-items: center;
  display: inline-flex;
  font-size: $font-size-xs;
  font-weight: 400;
  line-height: 1;
  margin-left: $spacing-xs;
  margin-top: -1px;
}
