@import 'styles/mixins';

.heartBtn {
  &[data-disabled='true'] {
    background-color: transparent;
    box-shadow: none;
    pointer-events: none;
  }
}

.count {
  align-items: center;
  display: flex;
  font-size: $font-size-sm;
  font-weight: 700;
  height: 90%;
}
