$slot-border-size: 2px;
$slot-size: 44px;
$slot-spacing: 4px;
$outer-slot-size: $slot-size + $slot-border-size;
$xbar-group-height: ($outer-slot-size + $slot-spacing) * 2;
$xbar-group-width: ($outer-slot-size + $slot-spacing) * 3;
