@use "@/styles/mixins" as *;

.container {
  background-color: #fff;
  color: var(--color-gray);
  font-size: var(--font-size-base);
  line-height: var(--font-size-lg);
  padding: var(--spacing-lg);

  h1 {
    color: var(--color-gray);
    font-size: var(--font-size-xl-2);
    margin-bottom: var(--spacing-lg);
  }

  dl {
    margin: 0;
  }

  dt {
    font-size: var(--font-size-lg);
    margin-top: var(--spacing-lg);
  }

  dd {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--spacing-base);
    margin-left: 0;
    margin-top: var(--spacing-base);

    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
    }

    p,
    ul,
    ol {
      background-color: transparent;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  blockquote {
    margin: 0;
  }

  .closeButton {
    top: var(--spacing-lg);
  }
}

.sections {
  display: grid;
  gap: var(--spacing-lg);
  grid-template-columns: 1fr 1fr;

  @media (max-width: $screen-sm) {
    grid-template-columns: 1fr;
  }
}

.markdown,
.output {
  box-shadow: var(--box-shadow-light);
  padding: var(--spacing-sm);
  position: relative;
  width: 50%;

  .label {
    color: #999;
    font-size: 9px;
    position: absolute;
    text-transform: uppercase;
    top: -8px;

  }
}

.markdown {
  background-color: #eee;
  border-radius: var(--border-radius) 0 0 var(--border-radius);

  pre {
    background-color: transparent;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
  }
}

.output {
  background-color: #fff;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;

  pre {
    margin-bottom: 0;
  }
}
