.panel {
  padding-top: 16px;
  border-top: 1px dashed rgba(255, 255, 255, 0.2);
}

.listActions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
  li {
    margin: 4px;
  }
}

.xivBarsContainer {
  position: relative;
}

.xbarGroup {
  display: flex;
  flex-direction: column;
  margin: 32px 0 24px;
}

.buttonContainer {
  margin-bottom: 20px;
  text-align: center;
}

.button {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 3px;
  transition: background 0.2s ease, border 0.2s ease;
  &:hover,
  &:focus {
    background:
      linear-gradient(
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0.05) 100%
      );
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(0, 0, 0, 1);
    border-right-color: rgba(0, 0, 0, 1);
  }
  &:active {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.2);
  }
}

.buttonToggle {
  display: inline-flex;
  .label {
    color: rgba(255, 255, 255, 0.66);
    font-size: 12px;
    padding: 10px 14px;
    transition:
      background 0.33s ease,
      box-shadow 0.33s ease,
      color 0.33s ease;
    &[data-selected=true] {
      background-color: #fff;
      background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5) 0%,
          rgba(255, 255, 255, 0) 100%
        );
      box-shadow:
        inset 1px 1px 0 rgba(0, 0, 0, 0.33),
        inset -1px -1px 0 rgba(255, 255, 255, 0.66);
      color: #111;
      font-weight: 700;
    }
  }
  &:hover .label[data-selected=false] {
    color: #fff;
  }
}

.sectionTitle {
  margin-bottom: 0;
}
