.panel {
  padding-top: 16px;
  border-top: 1px dashed rgba(255, 255, 255, 0.2);
}

.listActions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
  li {
    margin: 4px;
  }
}

.xivBarsContainer {
  position: relative;
}

.xbarGroup {
  display: flex;
  flex-direction: column;
  margin: 32px 0 24px;
}

.sectionTitle {
  margin-bottom: 0;
}
