@import "styles/mixins";

.container {
  align-items: center;
  counter-reset: xbarCount;
  display: flex;
  flex-direction: column;
  min-width: $layout-container-width;

  &[data-show-titles='true'] .xbar {
    padding-bottom: $spacing-lg;
    padding-top: $spacing-lg;

    .left::before,
    .right::before {
      bottom: -$spacing-md;
    }
  }
}

.xbar {
  align-items: center;
  border-bottom: 1px solid rgb(255 255 255 / 6%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  order: 3;
  padding: 28px 0 28px 28px;
  position: relative;
  transition-duration: 0.33s;
  transition-property: padding;
  transition-timing-function: ease;

  &::before {
    content: counter(xbarCount);
    counter-increment: xbarCount;
    font-size: $font-size-lg;
    font-weight: 400;
    left: $spacing-base;
    opacity: 0.66;
    position: absolute;
    text-align: right;
  }

  &:last-child {
    border-bottom: none;
  }

  .left::before,
  .right::before {
    bottom: 0;
    color: #eee;
    display: block;
    font-size: $font-size-sm;
    font-weight: 700;
    left: 0;
    opacity: 0.33;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px 1px 0 rgb(255 255 255 / 33%);
    transition-duration: 0.33s;
    transition-property: bottom;
    transition-timing-function: ease;
    user-select: none;
  }

  &[data-exhb="true"] {
    border-bottom-width: 4px;
    margin-bottom: $spacing-lg;
    order: 2;

    .left::before {
      content: "LT → RT";
    }

    .right::before {
      content: "RT → LT";
    }
  }

  &[data-wxhb="true"] {
    border-bottom: none;
    margin: 0;
    order: 0;

    :global(.right) {
      border-left: none;
    }

    .left::before {
      content: "LT, LT";
    }

    .right::before {
      content: "RT, RT";
    }
  }

  &[data-main="true"] {
    background-color: rgb(45 45 45 / 66%);
    border-radius: $border-radius;
    order: 1;

    .left::before {
      content: "LT";
      display: block;
    }

    .right::before {
      content: "RT";
      display: block;
    }
  }

  &[data-visible="false"] {
    pointer-events: none;
    position: absolute;
    visibility: hidden;
  }
}

.left {
  padding-right: $spacing-xs;
}

.right {
  border-left: 2px solid rgb(255 255 255 / 6%);
  padding-left: $spacing-xs;
}

.left,
.right {
  display: flex;
  flex-direction: row;
  position: relative;
}

.set {
  display: grid;
  grid-gap: $spacing-xs;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0 $spacing-sm;

  .slot {
    grid-row-end: span 2;

    &:nth-child(1) {
      grid-column-start: 2;
      grid-row-start: 3;
    }

    &:nth-child(2) {
      grid-column-start: 1;
      grid-row-start: 2;
    }

    &:nth-child(3) {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    &:nth-child(4) {
      grid-column-start: 3;
      grid-row-start: 2;
    }
  }
}

.set .slot:nth-child(3) :global(.action)::after {
  bottom: 100%;
  margin-bottom: 4px;
  margin-top: 0;
  position: absolute;
  top: unset;
}
