@import "styles/mixins";
$group-padding: 10px;

.container {
  align-items: center;
  counter-reset: xbarCount;
  display: flex;
  flex-direction: column;
}

.xbar {
  align-items: center;
  border-bottom: 1px solid #222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 20px $spacing-base;
  position: relative;

  &::before {
    content: counter(xbarCount);
    counter-increment: xbarCount;
    font-size: $font-size-lg;
    font-weight: 100;
    left: -$spacing-sm;
    opacity: 33%;
    position: absolute;
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }
}

.left {
  padding-right: 6px;
}

.right {
  padding-left: 6px;
}

.left,
.right {
  display: flex;
  flex-direction: row;
}

.set {
  display: grid;
  grid-gap: $spacing-sm;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 0 $spacing-sm;

  .slot {
    grid-row-end: span 2;
    position: relative;

    &:nth-child(1) {
      grid-column-start: 2;
      grid-row-start: 3;
    }

    &:nth-child(2) {
      grid-column-start: 1;
      grid-row-start: 2;
    }

    &:nth-child(3) {
      grid-column-start: 2;
      grid-row-start: 1;
    }

    &:nth-child(4) {
      grid-column-start: 3;
      grid-row-start: 2;
    }
  }
}

[data-help="true"] {
  .set .slot:nth-child(3) :global(.action)::after {
    bottom: 100%;
    position: absolute;
    white-space: nowrap;
    transform: translateY(-2px);
  }
}

@media (max-width: $screen-md) {
  .xbar {
    padding-left: $spacing-base;
    padding-right: $spacing-base;

    &::before {
      font-size: 14px;
    }
  }
}

@media (max-width: $screen-xs) {
  .xbar {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
