@import "styles/mixins";
$group-padding: 10px;

.container {
  display: flex;
  flex-direction: column;
  counter-reset: xbarCount;
}

// Xbar Set

.xbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.66);
  &::before {
    position: absolute;
    counter-increment: xbarCount;
    content: counter(xbarCount);
    opacity: 0.33;
    font-size: 18px;
    font-weight: 100;
    left: -32px;
  }
  &:last-child {
    border-bottom: none;
  }
}

.left {
  padding-right: 6px;
}

.right {
  padding-left: 6px;
}

.left,
.right {
  display: flex;
  flex-direction: row;
}

.set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 1px;
  .slot {
    grid-row-end: span 2;
    &:nth-child(1) {
      grid-column-start: 2;
      grid-row-start: 3;
    }
    &:nth-child(2) {
      grid-column-start: 1;
      grid-row-start: 2;
    }
    &:nth-child(3) {
      grid-column-start: 2;
      grid-row-start: 1;
    }
    &:nth-child(4) {
      grid-column-start: 3;
      grid-row-start: 2;
    }
  }
}

@media (max-width: $screen-sm) {
  .xbar {
    padding-left: $spacing-base;
    padding-right: $spacing-base;
    &::before {
      font-size: 14px;
      top: 2px;
      left: 4px;
    }
  }
}

@media (max-width: $screen-xs) {
  .xbar {
    padding-left: 0;
    padding-right: 0;
  }
}
