@import "styles/mixins";

.modal {
  align-items: top;
  backdrop-filter: blur(0);
  display: flex;
  inset: 0;
  justify-content: center;
  max-height: 100vh;
  overflow: auto;
  padding: ($spacing-xl * 2) $spacing-lg;
  position: fixed;
  transition-duration: 0.33s;
  transition-property: background, backdrop-filter;
  transition-timing-function: ease;
  z-index: 100;

  .container {
    transition: opacity 0.33s ease, transform 0.33s ease;
  }

  &[aria-hidden="true"] {
    background: rgb(0 0 0 / 0%);
    display: flex;
    overflow: hidden;
    pointer-events: none;

    .container {
      opacity: 0;
      transform: scale(1.05);
    }
  }

  &[aria-hidden="false"] {
    backdrop-filter: blur(10px);
    background: rgb(33 33 33 / 95%);
    pointer-events: auto;

    .container {
      opacity: 1;
      transform: scale(1);
    }
  }

  :global(.modal-content) {
    background-color: #111;
    border-radius: $border-radius;
    max-width: 460px;
    padding: $spacing-base;
    position: relative;

    h2 {
      margin: 0 0 $spacing-sm;
    }

    button {
      padding-left: $spacing-lg;
      padding-right: $spacing-lg;
    }
  }

  :global(.modal-header) {
    margin-bottom: $spacing-base;
    max-width: 100%;
    position: relative;
  }

  :global(.modal-footer) {
    margin-top: $spacing-sm;
  }

  .content {
    margin-bottom: $spacing-xl;
  }
}

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-$spacing-base, -50%);
}

@media (max-width: $screen-sm) {
  .modal {
    padding: $spacing-xl $spacing-base $spacing-base;
  }

  .container {
    width: 100%;
  }
}
