@import "styles/mixins";

.modal {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: background 0.33s ease;
  z-index: 100;

  .container {
    transition: opacity 0.33s ease, transform 0.33s ease;
  }

  &[aria-hidden="true"] {
    background: rgb(0 0 0 / 0%);
    display: flex;
    overflow: hidden;
    pointer-events: none;

    .container {
      opacity: 0;
      transform: scale(1.05);
    }
  }

  &[aria-hidden="false"] {
    background: rgb(0 0 0 / 90%);
    pointer-events: auto;

    .container {
      opacity: 1;
      transform: scale(1);
    }
  }

  :global(.modal-content) {
    background-color: $panel-bg;
    border-radius: $border-radius;
    max-width: 460px;
    padding: $spacing-base;
    position: relative;

    h3 {
      margin: 0 0 $spacing-sm;
    }

    button {
      padding-left: $spacing-lg;
      padding-right: $spacing-lg;
    }
  }

  :global(.modal-header) {
    margin: $spacing-sm 0 $spacing-base;
    max-width: 100%;
    position: relative;
  }

  :global(.modal-footer) {
    margin-top: $spacing-sm;
  }
}
