@use "@/styles/mixins" as *;

.modal {
  align-items: flex-start;
  backdrop-filter: blur(0);
  display: flex;
  inset: 0;
  justify-content: center;
  max-height: 100vh;
  overflow: auto;
  padding: calc(var(--spacing-xl) * 2) var(--spacing-lg);
  position: fixed;
  transition-duration: var(--timing-medium);
  transition-property: background, backdrop-filter;
  transition-timing-function: var(--cubic-bezier);
  z-index: 100;

  .container {
    position: relative;
    transition: opacity var(--timing-medium) var(--cubic-bezier), transform var(--timing-medium) var(--cubic-bezier);
  }

  &[aria-hidden="true"] {
    background: rgb(0 0 0 / 0%);
    display: flex;
    overflow: hidden;
    pointer-events: none;

    .container {
      opacity: 0;
      transform: scale(1.05);
    }
  }

  &[aria-hidden="false"] {
    backdrop-filter: blur(10px);
    background: rgb(33 33 33 / 95%);
    pointer-events: auto;

    .container {
      opacity: 1;
      transform: scale(1);
    }
  }

  :global(.modal-content) {
    background-color: #111;
    border-radius: var(--border-radius);
    max-width: 460px;
    padding: var(--spacing-base);
    position: relative;

    h2 {
      margin: 0 0 var(--spacing-sm);
    }

    button {
      padding-left: var(--spacing-lg);
      padding-right: var(--spacing-lg);
    }
  }

  :global(.modal-header) {
    margin-bottom: var(--spacing-base);
    max-width: 100%;
    position: relative;
  }

  :global(.modal-footer) {
    margin-top: var(--spacing-sm);
  }

  .content {
    margin-bottom: var(--spacing-xl);
  }
}

@media (max-width: $screen-sm) {
  .modal {
    padding: var(--spacing-xl) var(--spacing-base) var(--spacing-base);
  }

  .container {
    width: 100%;
  }
}
