@import "styles/mixins";

.container {
  align-items: flex-end;
  background-color: $panel-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $spacing-xs $spacing-base;
}

.groupRight {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  padding-bottom: $spacing-sm;
  padding-top: $spacing-base;
}

.control {
  margin-left: $spacing-xs;
}
