@import "styles/mixins";

.controlBar {
  background-color: $panel-bg;
  box-shadow: 0 2px 0 $color-gray-dark-2;
  overflow: auto;
  padding: $spacing-sm $spacing-base;
  position: sticky;
  top: 60px;
  width: 100%;
  z-index: 9;

  &[data-active-modal="true"] {
    z-index: 11;
  }
}

.container {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.groupLeft {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.groupRight {
  align-items: flex-end;
  display: flex;
  flex-direction: row;

  + .groupRight {
    margin-left: $spacing-sm;
    padding-left: $spacing-sm;
  }
}

.control {
  margin-left: $spacing-xs;

  &:first-child {
    margin-left: 0;
  }

  button,
  :global(.button) {
    height: 30px;
    padding: 0 10px;
  }
}

@media (max-width: $screen-md) {
  .controlBar {
    top: 0;
  }
}
