@import 'styles/mixins';

.articles {
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 
    0 -1px 4px rgba(0,0,0,0.66),
    0 -8px 0 rgba(255,255,255,0.5),
    0 -6px 8px rgba(0, 0, 0, 0.66);
}
