@import "styles/mixins";

.errorPage {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 48px);

  .main {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    color: $color-alt;
    margin: 0;
    margin-bottom: $spacing-lg;
  }

  small {
    display: block;
    opacity: 0.5;
  }

  li {
    margin: $spacing-sm 0;
  }
}

.title {
  margin-bottom: $spacing-base;
  margin-top: 0;
}

.recentLayouts,
.popularLayouts {
  margin-top: $spacing-xl;
}
