@import 'utils/mixins';

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.66);
  padding-bottom: 0;
}

.primary {
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
  padding: $spacing-lg;
  position: relative;
}

.articles {
  border-top: 1px solid rgba(0, 0, 0, 0.9);
  box-shadow: 0 -6px 10px rgba(0, 0, 0, 0.33);
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  color: #999;
  font-size: 12px;
  line-height: 1.45em;
  margin-bottom: $spacing-base;
  text-align: right;
  p {
    margin: 0;
  }
}

// Sections

.description p {
  margin-bottom: 0;
}

@media (min-width: $screen-xl) {
  .header {
    background-color: rgba(0, 0, 0, 0.9);
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .primary {
    background-color: rgba(0, 0, 0, 0.9);
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 11;
    margin: 0;
  }
  .articles {
    border-top: none;
    grid-column-start: 2;
    grid-row-end: span 11;
  }
  .footer {
    align-self: flex-end;
    grid-column-start: 2;
    grid-row-start: 12;
  }
}
