@import 'utils/mixins';

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-attachment: fixed;
  background-color: #333;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: #fff;
  font-family: "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  line-height: 1.455em;
  margin: 0;
}

[aria-hidden=true] {
  display: none;
}

a {
  color: #9cf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  padding-left: $spacing-base;
  padding-right: $spacing-base;
}

h1 {
  margin: 0;
  b {
    opacity: 0.75;
  }
}

h2 {
  margin-bottom: 0;
}

abbr {
  outline: none;
  text-decoration: none;
}

label {
  color: #999;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

button {
  background:
    rgba(0, 0, 0, 0.8)
    linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  border-right-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  outline: none;
  padding: 0 $spacing-base;
  transition:
    background 0.2s ease,
    color 0.2s ease;
  + button {
    margin-left: 1em;
  }
  &:hover,
  &:active,
  &:focus {
    color: rgba(255, 255, 255, 1);
  }
  &:hover,
  &:focus {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(0, 0, 0, 1);
    border-right-color: rgba(0, 0, 0, 1);
    background:
      rgba(0, 0, 0, 0.8)
      linear-gradient(
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 255, 255, 0.15) 100%
      );
  }
  &:active {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.2);
  }
  &:focus {
    outline: 2px solid #fff;
  }
  img {
    height: 36px;
    width: 36px;
  }
}

:global(.container) {
  margin: 1px auto;
  max-width: 100%;
  padding: $spacing-lg;
}

:global(.row) {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  padding-bottom: 0;
}

.primary {
  background-color: rgba(0, 0, 0, 0.66);
  margin-bottom: $spacing-lg;
  margin-left: auto;
  margin-right: auto;
  padding: $spacing-lg;
  position: relative;
}

.articles {
  border-top: 2px solid rgba(255, 255, 255, 0.33);
}

.footer {
  color: #999;
  font-size: 12px;
  line-height: 1.45em;
  margin-bottom: $spacing-base;
  text-align: right;
  p {
    margin: 0;
  }
}

// Sections

.description p {
  margin-bottom: 0;
}

@media (min-width: $screen-xl) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    height: 100vh;
    padding: 0;
  }
  .header {
    background-color: rgba(0, 0, 0, 0.9);
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .primary {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: span 11;
    margin-bottom: 0;
  }
  .articles {
    border-top: none;
    grid-column-start: 2;
    grid-row-end: span 11;
  }
  .footer {
    align-self: flex-end;
    grid-column-start: 2;
    grid-row-start: 12;
  }
}

@media (max-width: $screen-md) {
  main {
    padding: 0;
  }
}

@media (max-width: $screen-sm) {
  :global(.row) {
    flex-direction: column;
  }
}
