@import "styles/mixins";

.button:global(.button) {
  position: absolute;
  right: -$spacing-xs;
  text-transform: uppercase;
  top: 0;
  transform: translate(-$spacing-base, -50%);
  z-index: 1;

  &:hover {
    transform: translate(-$spacing-base, -50%) scale(1.2);
  }
}
