@import "styles/mixins";

.userNav,
.globalNav,
.navItem,
.navItem a {
  height: 100%;
}

.userNav {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: row;
  position: relative;

  a {
    align-items: center;
    border-radius: 4px;
    color: #333;
    display: flex;
    justify-content: center;
    padding: $spacing-xs $spacing-base;
    transition-duration: $timing-default;
    transition-property: color, background-color, box-shadow;
    transition-timing-function: ease;

    &:hover {
      background-color: $color-alt;
      text-decoration: none;
    }
  }

  a.donateLink {
    font-style: italic;
    letter-spacing: 0.04em;
  }

  .signin {
    color: $color-alt;
  }
}

.globalNav {
  align-items: center;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 $spacing-base;
  padding: 0 $spacing-base;

  > li {
    margin-left: $spacing-sm;
  }
}

.profileNav {
  position: relative;
}

.profile {
  font-weight: 700;
  padding: $spacing-xs $spacing-sm $spacing-xs $spacing-xs;

  &:focus,
  &:active,
  &[data-active="true"] {
    background-color: $color-alt-dark;
    border-radius: 4px 4px 0 0;
    box-shadow: $button-shadow;
  }
}

.profileImage {
  background-color: #333;
  border-radius: 4px;
  color: rgb(0 0 0 / 0%);
  font-size: 10px;
  height: 30px;
  margin: 0 $spacing-sm 0 0;
  overflow: hidden;
  width: 30px;

  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.menu {
  background-color: #fff;
  border-radius: 4px 0 4px 4px;
  border-top-color: #eee;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  list-style: none;
  margin: 5px 0 0;
  padding: 4px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 100%;
  z-index: 10;

  &[data-active="true"] {
    display: block;
  }

  &[data-active="false"] {
    display: none;
  }

  a {
    border-radius: 2px;
    justify-content: flex-end;
  }
}

.navItem {
  margin: 0;

  a[data-active="true"] {
    font-weight: 500;
  }
}

.email {
  color: #666;
  font-size: $font-size-base;
  font-style: italic;
  margin-right: $spacing-base;

  a {
    color: #333;
  }
}
