@import "styles/mixins";

.userNav,
.globalNav,
.navItem,
.navItem a,
.profileNav,
.profile {
  height: 100%;
}

.userNav {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: row;
  height: 40px;
  position: relative;

  a {
    align-items: center;
    border-radius: 4px;
    color: #333;
    display: flex;
    justify-content: center;
    padding: $spacing-xs $spacing-base;
    transition-duration: $timing-default;
    transition-property: color, background-color, box-shadow;
    transition-timing-function: ease;

    &:hover,
    &:focus {
      background-color: $color-alt;
      text-decoration: none;
    }
  }

  a.donateLink {
    .donateLabel {
      align-items: center;
      display: inline-flex;

      &::before {
        color: #fff;
        content: "🍺";
        display: inline-flex;
        font-size: 20px;
        justify-content: center;
        margin-left: -$spacing-xs;
        margin-right: $spacing-xs;
        text-align: center;
        text-shadow: 1px 1px 1px rgb(0 0 0 / 33%);
        transition: font-size 0.3s ease;
        width: 24px;
      }
    }

    &:hover .donateLabel::before {
      content: "🍻";
      font-size: 28px;
    }
  }

  .signin {
    color: $color-alt;
    height: 100%;
  }
}

.globalNav {
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 $spacing-base;
  padding-left: 0;

  > li {
    margin-left: $spacing-sm;
  }
}

.profileNav {
  position: relative;
}

.profile:global(.button) {
  font-weight: 700;
  padding: $spacing-xs $spacing-sm $spacing-xs $spacing-sm;
  user-select: none;

  &:focus,
  &:active,
  &[data-active="true"] {
    background-color: $color-alt-light;
    border-bottom-width: $spacing-sm;
    border-radius: 4px 4px 0 0;
    box-shadow: $button-shadow;
    color: $color-alt-dark-2;
    text-shadow: none;
  }
}

.profileImage {
  border-radius: 4px;
  color: rgb(0 0 0 / 0%);
  font-size: 10px;
  height: 30px;
  margin: 0 $spacing-sm 0 0;
  overflow: hidden;
  width: 30px;

  img {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.menu {
  background-color: #fff;
  background-image: linear-gradient($color-alt-light 0%, #fff 45%);
  border-radius: 4px 0 4px 4px;
  border-right: 1px solid $color-gray-light;
  border-top: 1px solid $color-gray-light;
  box-shadow: 0 3px 4px rgb(0 0 0 / 20%);
  list-style: none;
  margin: -1px 0 0;
  padding: 4px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 100%;
  white-space: nowrap;
  z-index: 10;;

  &[data-active="true"] {
    display: block;
  }

  &[data-active="false"] {
    display: none;
  }

  a {
    border-radius: 2px;
    justify-content: flex-end;

    &:hover,
    &:focus {
      color: #333;
    }
  }

}

.navItem {
  margin: 0;

  a[data-active="true"] {
    font-weight: 500;
  }
}

.email {
  color: #666;
  font-size: $font-size-base;
  font-style: italic;
  margin-right: $spacing-base;

  a {
    color: #333;
  }
}

@media (max-width: $screen-xs) {
  .globalNav {
    margin: 0 $spacing-sm;
  }

  a.button,
  a.donateLink {
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;

    &::before {
      margin-right: 0;
    }
  }

  .signin {
    line-height: 1.25em;
    white-space: wrap;
    width: 80px;
  }

  .profile {
    padding: 0 5px;
  }

  .profileImage {
    margin-right: 0;
  }

  .profileTitle {
    display: none;
  }
}
