
.buttonContainer {
  margin-bottom: 20px;
  text-align: center;
  .buttonToggle {
    display: inline-flex;
    padding: 3px;
    .label {
      align-items: center;
      color: rgba(255, 255, 255, 0.66);
      display: flex;
      justify-content: center;
      padding: 0 16px;
      transition:
        background 0.33s ease,
        box-shadow 0.33s ease,
        color 0.33s ease;
      &[data-selected=true] {
        background-color: #fff;
        background-image:
          linear-gradient(
            rgba(0, 0, 0, 0.5) 0%,
            rgba(255, 255, 255, 0) 100%
          );
        box-shadow:
          inset 1px 1px 0 rgba(0, 0, 0, 0.33),
          inset -1px -1px 0 rgba(255, 255, 255, 0.66);
        color: #111;
      }
    }
    &:hover .label[data-selected=false] {
      color: #fff;
    }
  }
}
