@import "styles/mixins";

.container,
.jobWrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.container {
  background-color: #333;
  border-radius: $border-radius;
  padding-left: $spacing-sm;
  padding-right: $spacing-sm;
  transform: translateZ(0);
  white-space: nowrap;

  &[data-role='TANK'] {
    background-color: #455BC9;
  }

  &[data-role='HEAL'] {
    background-color: #467937;
  }

  &[data-role*='DPS'] {
    background-color: #7F3A3A;
  }
}

.iconWrapper {
  display: inline-block;
  height: 32px;
  overflow: hidden;
  vertical-align: middle;
  width: 32px;
}

.icon {
  display: block;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 75%));
  font-size: 10px;
  height: 100%;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.abbr {
  color: #fff;
  display: block;
  font-size: $font-size-base;
  font-weight: 900;
  height: $font-size-base;
  line-height: 12px;
  margin-left: $spacing-xs;
  padding: 0 $spacing-xs;
}

.name {
  color: rgb(255 255 255 / 75%);
  font-size: $font-size-base;
  font-weight: 400;
  margin-left: $spacing-sm;
  text-transform: uppercase;
}
