.container,
.jobWrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
}

.container {
  background-color: #333;
  border-radius: var(--border-radius);
  padding-left: var(--spacing-sm);
  padding-right: var(--spacing-sm);
  position: relative;
  transform: translateZ(0);
  white-space: nowrap;

  &[data-role='TANK'] {
    background-color: var(--color-tank);
  }

  &[data-role='HEAL'] {
    background-color: var(--color-healer);
  }

  &[data-role*='DPS'] {
    background-color: var(--color-dps);
  }

  &[data-role="DOH"] {
    background-color: var(--color-doh);
  }

  &[data-role="DOL"] {
    background-color: var(--color-dol);
  }
}

.iconWrapper {
  display: inline-block;
  height: 32px;
  overflow: hidden;
  vertical-align: middle;
  width: 32px;
}

.icon {
  display: block;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 75%));
  font-size: 10px;
  height: 100%;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.abbr {
  color: #fff;
  display: block;
  font-size: var(--font-size-base);
  font-weight: 900;
  height: var(--font-size-base);
  line-height: 12px;
  margin-left: var(--spacing-xs);
  padding: 0 var(--spacing-xs);
}

.name {
  color: rgb(255 255 255 / 75%);
  font-size: var(--font-size-base);
  font-weight: 400;
  margin-left: var(--spacing-sm);
  text-transform: uppercase;
}
