:global {
  * {
    box-sizing: border-box;
  }
  html {
    min-height: 100vh;
  }
  body {
    background-color: #333;
    // background-image: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.455em;
    font-size: 16px;
  }
  a {
    color: #9CF;
    text-decoration: none;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  .container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
  }

  #eorzeadb_tooltip {
    overflow: visible !important;
  }
}
