@import './mixins';

$xbar-width: $xbar-group-width * 2.5;

.xbar-group {
  margin: 10px;
  position: relative;
  height: $xbar-group-height;
  width: $xbar-group-width;
}
.xbar {
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: $xbar-width;
  margin-left: auto;
  margin-right: auto;
}