@import 'src/mixins';

.slot {
  background-color: rgba(0,0,0,0.5);
  border: 2px solid #111;
  font-size: 11px;
  line-height: 1.2em;
  height: $slot-size;
  width: $slot-size;
  border-radius: 4px;
  padding: $slot-spacing;
  position: absolute;
  user-select: none;
  &:nth-child(1) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(2) {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &:nth-child(3) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &:nth-child(4) {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
