@import "styles/mixins";

.container {
  align-items: flex-end;
  display: flex;
  position: relative;

  label {
    background-color: $gray2;
    border-radius: 4px;
    display: block;
    font-size: 8px;
    height: 8px;
    left: $spacing-xs;
    line-height: 1;
    padding: 0 5px;
    position: absolute;
    top: 0;
    top: -0.5em;
  }
}

.shareUrlInput {
  background-color: transparent;
  border: 0;
  border-radius: $border-radius 0 0 $border-radius;
  box-shadow: inset 0 0 0 2px $gray0;
  color: #999;
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: 32px;
  padding: 10px;
  transition: background-color 0.33s ease;
  width: 200px;

  &:focus {
    background-color: rgba(255, 255, 255, 90%);
    color: $gray0;
  }
}

[data-copied="true"] .shareUrlInput,
.sahreUrlInput:focus {
  background-color: rgba(255, 255, 255, 90%);
  color: $gray0;
}

.copyButton {
  border-radius: 0 $border-radius $border-radius 0;
}

@media (max-width: $screen-xs) {
  .container {
    margin-right: 0;
  }

  .shareUrlInput {
    width: 200px;
  }
}
