@import 'styles/mixins';

.container {
  align-items: flex-end;
  display: flex;
  position: relative;

  &::after {
    align-items: center;
    background-color: #111;
    border-radius: $border-radius;
    bottom: 0;
    content: 'Copied!';
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.33s ease;
  }

  &[data-copied='true']::after {
    opacity: 1;
    pointer-events: auto;
  }
}

.shareUrlInput {
  // background-image: url('/images/black_paper.png');
  background-color: #333;
  border: 0;
  border-radius: $border-radius 0 0 $border-radius;
  color: #999;
  display: block;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  font-weight: 300;
  height: 32px;
  padding: 10px;
  transition: background-color 0.33s ease;
  width: 200px;

  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ccc;
  }
}

.copyButton {
  border-radius: 0 $border-radius $border-radius 0;
}

@media (max-width: $screen-xs) {
  .container {
    margin-right: 0;
  }

  .shareUrlInput {
    width: 200px;
  }
}
