@import "./mixins";

$button-label-shadow: 0 1px 1px rgb(0 0 0 / 40%);

button,
.button {
  align-items: center;
  background: #fff;
  border: none;
  border-radius: $border-radius;
  box-shadow: $button-shadow;
  color: $color-gray;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: inherit;
  font-size: $font-size-base;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  line-height: 1em;
  outline: none;
  padding: 0 $spacing-base;
  position: relative;
  transition:
    background-image $timing-default ease,
    background-color $timing-default ease,
    box-shadow $timing-default ease,
    color $timing-default ease;
  white-space: nowrap;

  + button,
  + .button {
    margin-left: $spacing-sm;

    @media (max-width: $screen-sm) {
      margin-left: $spacing-sm;
    }
  }

  &[data-title] {
    &::before, &::after {
      display: flex;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transition: opacity $timing-default ease $timing-fast;
    }

    &::before {
      border-bottom: 8px solid #333;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: none;
      bottom: -4px;
      content: '';
      height: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 0;
    }

    &::after {
      background-color: #333;
      border-radius: $border-radius;
      box-shadow: 0 3px 6px rgb(0 0 0 / 33%);
      color: #fff;
      content: attr(data-title);
      font-size: $font-size-sm;
      font-weight: 400;
      left: 50%;
      margin-top: 4px;
      padding: $spacing-xs $spacing-sm;
      top: 100%;
      transform: translate(-50%, 0);
      white-space: nowrap;
    }
  }

  &[data-title-anchor='left']::after {
    left: 0;
    transform: translate(0, 0);
  }

  &[data-title-anchor='right']::after {
    left: unset;
    right: 0;
    transform: translate(0, 0);
  }

  &[data-title][data-title-anchor='left-left'] {
    &::before {
      border-bottom-color: #111;
      left: 100%;
      top: 50%;
      transform: translate(-2px,-50%) rotate(-90deg);
    }

    &::after {
      background-color: #111;
      font-size: $font-size-base;
      left: 100%;
      margin-left: $spacing-sm;
      margin-top: 0;
      top: 50%;
      transform: translate(0,-50%);
    }
  }

  &[data-title][data-title-anchor='right-right'] {
    &::before {
      border-bottom-color: #111;
      left: unset;
      right: 100%;
      top: 50%;
      transform: translate(-2px,-50%) rotate(-90deg);
    }

    &::after {
      background-color: #111;
      font-size: $font-size-base;
      left: unset;
      margin-left: $spacing-sm;
      margin-top: 0;
      right: 100%;
      top: 50%;
      transform: translate(0,-50%);
    }
  }

  .icon {
    display: block;
    margin-right: $spacing-xs;
  }

  &:hover,
  &:focus {
    background-color: $color-alt-dark;
    color: #fff;
    text-decoration: none;
    text-shadow: $button-label-shadow;

    .icon {
      filter: $icon-filter-white drop-shadow($button-label-shadow);
    }

    &[data-title] {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }

  &:active {
    background-color: $color-alt-dark;
    color: #fff;
    text-shadow: 0 1px 2px darken($color-alt, 50%);

    .icon {
      filter: $icon-filter-white drop-shadow(0 1px 1px darken($color-alt, 40%));
    }
  }

  &[data-active="true"] {
    box-shadow:
      inset 1px 1px 0 rgb(255 255 255 / 66%),
      inset -1px -1px 0 rgb(0 0 0 / 15%),
      inset 0 -4px 0 $color-alt,
      0 1px 3px rgb(0 0 0 / 10%);
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn-alt.button {
  background-color: $color-gray-dark;
  box-shadow:
      inset 1px 1px 0 rgb(255 255 255 / 15%),
      inset -1px -1px 0 rgb(0 0 0 / 15%),
      0 1px 3px rgb(0 0 0 / 10%);
  color: #fff;
  font-weight: 500;

  .icon {
    filter: $icon-filter-white;
  }

  &:hover,
  &:focus {
    background-color: $color-gray-dark-2;
    color: $color-alt;

    .icon {
      filter: $icon-filter-yellow;
    }
  }

  &:active,
  &[data-active='true'] {
    background-color: $color-alt-dark;
    color: #fff;
    text-shadow: 0 1px 3px darken($color-alt, 60%);

    .icon {
      filter: $icon-filter-white drop-shadow(0 1px 2px darken($color-alt, 50%));
    }
  }

  &[data-active='true']:hover,
  &[data-active='true']:focus {
    background-color: $color-alt-dark;

    .icon {
      filter: $icon-filter-white drop-shadow(0 1px 2px darken($color-alt, 50%));
    }
  }
}

.btn-primary.button {
  background-color: $color-alt;
  color: $color-alt-dark-2;

  &:hover,
  &:focus {
    background-color: $color-alt-dark;
    color: #fff;
  }

  &:active {
    background-color: $color-gray;
    color: $color-alt;
  }
}

.btn-clear.button {
  background-color: rgb(255 255 255 / 0%);
  box-shadow: none;

  &:hover,
  &:focus {
    background-color: $color-alt-dark;
    box-shadow: $button-shadow;
  }
}

.btn-sm.button {
  font-size: $font-size-sm;
  height: 30px;
  padding: 0 $spacing-sm;
}

.btn-icon.button {
  font-size: $font-size-sm;
  height: 30px;
  padding: 0;
  width: 30px;

  .icon {
    margin: 0;
  }
}

.btn-block.button {
  width: 100%;
}

.btn-label-hidden {
  display: none;
}

.btn-switch.button {
  align-items: stretch;
  height: 30px;
  overflow: hidden;
  padding: 0;

  .label {
    align-items: center;
    color: #ddd;
    display: flex;
    padding: 0 16px;

    &[data-disabled="true"] {
      display: none;
    }

    &[data-selected="true"] {
      background-color: $color-alt-dark;
      color: #fff;
      text-shadow: 0 1px 2px darken($color-alt, 50%);

      .icon {
        filter: $icon-filter-white drop-shadow(0 1px 2px darken($color-alt, 50%));
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    .label[data-selected="false"] {
      color: $color-alt;
    }
  }

  &[disabled] {
    pointer-events: none;
  }
}

.btn-inline {
  display: inline-flex;
}

.btn-danger {
  background-color: $color-red;
  color: #fff;

  &:hover,
  &:focus {
    background-color: darken($color-red, 10%);
  }
}

@media (max-width: $screen-sm) {
  button,
  .button {
    font-size: $font-size-sm;
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;
  }
}
