@import "./mixins";

button,
.button {
  align-items: center;
  background: #030303;
  border: 0;
  border-radius: 4px;
  color: #999;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: $font-size-sm;
  font-weight: 500;
  height: 32px;
  justify-content: center;
  outline: none;
  padding: 0 $spacing-base;
  transition: background 0.2s ease, color 0.2s ease;

  + button,
  + .button {
    margin-left: 1em;
  }

  img {
    height: 36px;
    width: 36px;
  }

  .btn-icon {
    display: block;
    height: 16px;
    margin-right: $spacing-xs;
    opacity: 0.66;
    transition: opacity 0.2s ease;
    width: 16px;
  }

  &:hover,
  &:active,
  &:focus,
  &[data-active="true"] {
    background-color: $panel-bg-dark;
    color: #fff;

    .btn-icon {
      opacity: 1;
    }
  }
}
