@import './mixins';

button,
.button {
  background: #030303;
  border: 0;
  border-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: $font-size-sm;
  font-weight: 500;
  height: 32px;
  outline: none;
  padding: 0 $spacing-base;
  transition: background 0.2s ease, color 0.2s ease;

  + button,
  + .button {
    margin-left: 1em;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $panel-bg-dark;
    color: #fff;
  }

  img {
    height: 36px;
    width: 36px;
  }
}
