.control {
  margin-bottom: var(--spacing-base);
}

label {
  line-height: 1.6;
  margin: 0;
}

input,
textarea,
select,
option {
  font-family: var(--font-family);
}

input[type="text"],
textarea {
  background-color: var(--panel-bg-dark);
  border: none;
  border-radius: var(--border-radius);
  color: #eee;
  display: block;
  margin-bottom: var(--spacing-sm);
  padding: var(--spacing-sm);
  transition-duration: 0.15s;
  transition-property: background-color, color, outline, box-shadow, border;
  transition-timing-function: var(--cubic-bezier);
  width: 100%;
}
