@import "styles/mixins";

.control {
  margin-bottom: $spacing-base;
}

label {
  line-height: 1.6;
  margin: 0;
}

input,
textarea,
select,
option {
  font-family: $font-family;
}

input[type="text"],
textarea {
  background-color: $panel-bg-dark;
  border: none;
  border-radius: $border-radius;
  color: #eee;
  display: block;
  margin-bottom: $spacing-sm;
  padding: $spacing-sm;
  transition-duration: 0.15s;
  transition-property: background-color, color, outline, box-shadow, border;
  transition-timing-function: ease;
  width: 100%;
}
