a {
  color: $color-link;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  border-radius: $border-radius;
  outline: 2px solid $color-alt-dark;
  text-decoration: none;

}
