a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  border-radius: var(--border-radius);
  outline: 2px solid var(--color-alt-dark);
  text-decoration: none;
}
