.markdown {
  h2, h3, h4, h5, h6, p, ul, ol {
    margin-bottom: 0;
    margin-top: var(--spacing-base);

    &:first-child {
      margin-top: 0;
    }
  }

  h2, h3, h4, h5, h6 {
    color: var(--color-gray);
    font-weight: 700;
  }

  h2 {
    font-size: var(--font-size-xl);
    margin-top: var(--spacing-lg);

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: var(--font-size-lg);
  }

  h4 {
    font-size: var(--font-size-base);
  }

  h5 {
    text-transform: uppercase;
  }

  h5, h6 {
    font-size: var(--font-size-xs);
  }

  p, ul, ol {
    font-weight: inherit;
    line-height: 1.65em;
    margin-bottom: 0;
    margin-top: var(--spacing-base);
  }

  ul, ol {
    padding-left: 1.5em;

    ul, ol {
      margin: 0;
    }

    li {
      margin: var(--spacing-sm) 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  blockquote {
    border-left: var(--spacing-xs) solid var(--color-gray-light-2);
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    padding: var(--spacing-xs) var(--spacing-base);
  }

  pre,
  code {
    background-color: rgb(0 0 0 / 10%);
    border-radius: var(--border-radius);
    font-size: var(--font-size-sm);
  }

  code {
    display: inline-block;
    line-height: 1.6;
    padding: 0 4px;
  }

  pre {
    line-height: var(--font-size-lg);
    padding: var(--spacing-sm);
    text-shadow: 0 0 4px #fefefe;

    code {
      background-color: unset;
      border-radius: unset;
      display: unset;
      font-size: inherit;
      padding: unset;
    }
  }

  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: var(--spacing-base) 0;
  }
}
