@use "sass:math";

$color-gray: #303030;
$color-gray-dark: #212121;
$color-gray-dark-2: #111;
$color-gray-light: #c0c0c0;
$color-gray-light-2: #d0d0d0;
$color-gray-light-3: #ddd;

$color-alt: rgb(244 214 107);
$color-alt-dark: darken($color-alt, 20%);
$color-alt-dark-2: darken($color-alt, 60%);
$color-alt-light: lighten($color-alt, 15%);

$color-link: #39c;

$color-red: #900;
$color-danger: $color-red;

$slot-border-size: 1px;
$slot-size: 40px;
$slot-spacing: 0;
$outer-slot-size: $slot-size + $slot-border-size * 2;

$slot-size-sm: 32px;
$slot-size-xs: 24px;

$xbar-group-height: $outer-slot-size * 2 + $slot-spacing;
$xbar-group-width: $outer-slot-size * 3 + $slot-spacing;
$xbar-width: $xbar-group-width * 4 + $slot-size;
$xbar-group-spacing: math.div($slot-spacing, 2);

$primary-slot-size: 40px;
$outer-primary-slot-size: $primary-slot-size + $slot-border-size;
$primary-xbar-group-height: $outer-primary-slot-size * 2 + math.div($slot-spacing, 2);
$primary-xbar-group-width: $outer-primary-slot-size * 3;
$primary-xbar-width: $primary-xbar-group-width * 3;

$layout-container-width: 660px;

$panel-bg: $color-gray;
$panel-bg-dark: $color-gray-dark;
$panel-bg-light: #f9f9f9;
$border-radius: 4px;

$box-shadow: 0 6px 10px rgb(0 0 0 / 33%);
$box-shadow-2: 0 3px 6px rgba(0 0 0 / 66%);
$button-shadow:
  inset 1px 1px 0 rgb(255 255 255 / 66%),
  inset -1px -1px 0 rgb(0 0 0 / 15%),
  0 1px 2px rgb(0 0 0 / 10%);

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-base: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xl-2: 64px;

$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 980px;
$screen-lg: 1300px;
$screen-lg-2: 1400px;
$screen-lg-3: 1540px;
$screen-xl: 1900px;

$screen-xs-max: $screen-sm - 1;
$screen-sm-max: $screen-md - 1;
$screen-md-max: $screen-lg - 1;
$screen-lg-max: $screen-xl - 1;

$font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 17px;
$font-size-xl: 22px;
$font-size-xl-2: 30px;
$font-size-xl-3: 43px;

$icon-filter-white: saturate(0) brightness(200%);
$icon-filter-black: saturate(0) brightness(20%);
$icon-filter-yellow: none;
$icon-filter-active: $icon-filter-yellow;

$timing-fast: 0.1s;
$timing-default: 0.2s;
$timing-slow: 0.6s;

$font-fallback: "Fira Sans", "Droid Sans", "Helvetica Neue";
$font-system: -apple-system, "BlinkMacSystemFont", sans-serif;
$font-family: $font-fallback, $font-system;
$font-monospace: "Lucida Console", courier, monospace;
$font-tiny: inherit, verdana, arial, sans-serif;

$header-height: 60px;
$header-height-lg: 118px;
$controlbar-height: 46px;
$sidebar-width: 400px;

$view-height: calc(100vh - $header-height - $controlbar-height);
$view-height-md: calc(100vh - $header-height-lg);
