@use "sass:math";

$color-gray: #303030;
$color-gray-dark: #222;
$color-gray-dark-2: #111;
$color-alt: #f2e9b9;
$link-color: #6cf;

$slot-border-size: 1px;
$slot-size: 38px;
$slot-spacing: 0;
$outer-slot-size: $slot-size + $slot-border-size * 2;

$slot-size-sm: 29px;
$slot-size-xs: 23px;

$xbar-group-height: $outer-slot-size * 2 + $slot-spacing;
$xbar-group-width: $outer-slot-size * 3 + $slot-spacing;
$xbar-width: $xbar-group-width * 4 + $slot-size;
$xbar-group-spacing: math.div($slot-spacing, 2);

$primary-slot-size: 40px;
$outer-primary-slot-size: $primary-slot-size + $slot-border-size;
$primary-xbar-group-height: $outer-primary-slot-size * 2 + math.div($slot-spacing, 2);
$primary-xbar-group-width: $outer-primary-slot-size * 3;
$primary-xbar-width: $primary-xbar-group-width * 3;

$sidebar-width: 400px;

$panel-bg: $color-gray;
$panel-bg-dark: $color-gray-dark;
$panel-bg-dark-2: $color-gray-dark-2;
$border-radius: 6px;
$box-shadow: 0 6px 10px rgb(0 0 0 / 66%);

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-base: 16px;
$spacing-lg: 32px;
$spacing-xl: 48px;
$spacing-xl-2: 64px;

$screen-xxs: 320px;
$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 980px;
$screen-lg: 1246px;
$screen-xl: 1900px;

// 1440 x 900
// 1920 x 1080
// 2560 x 1440
// 3840 x 2160

$screen-xs-max: $screen-sm - 1;
$screen-sm-max: $screen-md - 1;
$screen-md-max: $screen-lg - 1;
$screen-lg-max: $screen-xl - 1;

$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;
$font-size-xl-2: 24px;
$font-size-xl-3: 28px;
