@use "sass:math";

$scrollbarBG: rgb(255 255 255 / 0%);
$thumbBG: rgb(255 255 255 / 33%);
$scrollbarSize: 6px;

@mixin customScrollbar {
  scrollbar-color: $thumbBG $scrollbarBG;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $scrollbarSize;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbarBG;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbBG;
    border-radius: math.div($scrollbarSize, 2);
  }
}
