@use "sass:math";

$scrollbarBG: rgba(255 255 255 / 50%);
$thumbBG: rgba(0 0 0 / 33%);
$scrollbarSize: 4px;

$scrollbarBG-dark: rgb(0 0 0 / 0%);
$thumbBG-dark: rgb(255 255 255 / 25%);

@mixin customScrollbar {
  scrollbar-color: $thumbBG $scrollbarBG;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: $scrollbarSize;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbarBG;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbBG;
    border-radius: math.div($scrollbarSize, 2);
  }
}

@mixin customScrollbar-dark {
  @include customScrollbar;

  scrollbar-color: $thumbBG-dark $scrollbarBG-dark;

  &::-webkit-scrollbar-track {
    background: $scrollbarBG-dark;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumbBG-dark;
  }
}
