.system-message {
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  display: block;
  padding: $spacing-base $spacing-lg;
  margin: $spacing-xl 0;

  &.error {
    background-color: rgb(180,0,0);
    color: #fff;
  }
}
