.system-message {
  box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
  display: block;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.2;
  padding: $spacing-base;
  text-align: center;
}

.inline-message {
  display: block;
  padding: $spacing-base;
}

.fail, .danger {
  background-color: rgb(180 0 0);
  color: #fff;
}

.success {
  background-color: rgb(0 140 0 / 80%);
}

.warn {
  background-color: $color-alt-light;
  color: $color-alt-dark-2;
  text-align: left;
}
