.system-message {
  box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
  display: block;
  padding: $spacing-base $spacing-lg;
  text-align: center;

  &.error {
    background-color: rgb(180 0 0);
    color: #fff;
  }

  &.success {
    background-color: rgba(0,140,0,0.8);
  }
}
