@import "styles/mixins";

$font-family-primary: "Segoe UI", Roboto, Ubuntu, Cantarell;
$font-family-fallback: "Fira Sans", "Droid Sans", "Helvetica Neue";
$font-family-system: -apple-system, BlinkMacSystemFont, sans-serif;

body {
  color: #ccc;
  font-family: $font-family-primary, $font-family-fallback, $font-family-system;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ddd;
  font-weight: 200;
  letter-spacing: 0.066em;
  text-transform: uppercase;
}

h1 {
  color: #ccc;
  font-size: $font-size-xl-3;
  letter-spacing: 0.066em;
  line-height: 1.05em;
  margin-bottom: $spacing-base;
  margin-top: 0;

  b {
    opacity: 0.75;
  }
}

h2,
h3 {
  color: #999;
}

h2 {
  font-size: $font-size-xl-2;
  line-height: 1.2;
}

h3 {
  font-size: $font-size-xl;
}

h4 {
  color: #888;
  font-size: $font-size-lg;
}

h5 {
  color: #888;
  font-size: $font-size-base;
  margin-bottom: 0;
}

ol {
  list-style: none;
  margin: $spacing-lg 0;

  h5 {
    margin-top: $spacing-base;
  }

  p {
    margin: 0;
  }

  > li {
    margin: 0;
  }
}

p {
  margin-bottom: 1.55em;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

abbr {
  outline: none;
  text-decoration: none;
}

label {
  color: #999;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.033em;
  text-transform: uppercase;
}

.text-xl {
  font-size: $font-size-xl;
}
