@import "styles/mixins";

body,
textarea {
  color: #ccc;
  font-optical-sizing: auto;
  font-size: 16px;
  font-variation-settings:
    "wdth" 100;
  line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5 {
  color: #dedede;
  font-weight: 400;
  letter-spacing: 0.015em;
}

h1 {
  font-size: $font-size-xl-3;
  font-weight: 100;
  line-height: 1.05em;
  margin-bottom: $spacing-base;
  margin-top: 0;
}

h2 {
  font-size: $font-size-xl-2;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  color: #888;
  font-size: $font-size-lg;
}

h5 {
  color: #888;
  font-size: $font-size-base;
  margin-bottom: 0;
}

ol {
  list-style: none;
  margin: $spacing-lg 0;
  padding: 0 $spacing-lg;

  h5 {
    margin-top: $spacing-base;
  }

  p {
    margin: 0;
  }

  > li {
    margin: 0;
  }
}

p {
  font-weight: 300;
  margin-bottom: 1.55em;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

pre, code {
  font-weight: 700;
}

abbr {
  outline: none;
  text-decoration: none;
}

label {
  color: #666;
  font-size: $font-size-sm;
  font-weight: 500;
  letter-spacing: 0.033em;
}

.text-xl {
  font-size: $font-size-xl;
}

.text-sm {
  font-size: $font-size-base;
}

.text-center {
  text-align: center;
}

@media (max-width: $screen-sm) {
  body,
  textarea {
    font-size: $font-size-base;
  }

  h1 {
    font-size: $font-size-xl-2;
  }

  h2 {
    font-size: $font-size-xl;
  }
}
