@import "styles/mixins";

$font-family-primary: "Roboto", "Ubuntu", "Cantarell";
$font-family-fallback: "Fira Sans", "Droid Sans", "Helvetica Neue";
$font-family-system: -apple-system, "BlinkMacSystemFont", sans-serif;

body,
textarea {
  color: #ccc;
  font-family: $font-family-primary, $font-family-fallback, $font-family-system;
  font-optical-sizing: auto;
  font-size: 16px;
  font-variation-settings:
    "wdth" 100;
  font-weight: 400;
  line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5 {
  color: #ddd;
  font-weight: 400;
  letter-spacing: 0.015em;
}

h1 {
  color: #ccc;
  font-size: $font-size-xl-3;
  line-height: 1.05em;
  margin-bottom: $spacing-base;
  margin-top: 0;

  b {
    opacity: 0.75;
  }
}

h1,
h2 {
  font-weight: 300;
}

h2,
h3 {
  color: #999;
}

h2 {
  font-size: $font-size-xl-2;
  line-height: 1.2;
}

h3 {
  font-size: $font-size-lg;
}

h4 {
  color: #888;
  font-size: $font-size-lg;
}

h5 {
  color: #888;
  font-size: $font-size-base;
  margin-bottom: 0;
}

ol {
  list-style: none;
  margin: $spacing-lg 0;

  h5 {
    margin-top: $spacing-base;
  }

  p {
    margin: 0;
  }

  > li {
    margin: 0;
  }
}

p {
  margin-bottom: 1.55em;
  margin-top: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

abbr {
  outline: none;
  text-decoration: none;
}

label {
  color: #999;
  font-size: $font-size-sm;
  font-weight: 400;
  letter-spacing: 0.033em;
}

.text-xl {
  font-size: $font-size-xl;
}

.text-sm {
  font-size: $font-size-base;
}

.text-center {
  text-align: center;
}
