.mt-xl {
  margin-top: $spacing-xl;
}

.mt-lg {
  margin-top: $spacing-lg;
}

.mt-md {
  margin-top: $spacing-base;
}

.mt-0 {
  margin-top: 0;
}

.mb-md {
  margin-bottom: $spacing-base;
}

.mb-lg {
  margin-bottom: $spacing-lg;
}

.mb-0 {
  margin-bottom: 0;
}

.pad-lg {
  padding: $spacing-lg;
}
