.mt-xl {
  margin-top: var(--spacing-xl) !important;
}

.mt-lg {
  margin-top: var(--spacing-lg) !important;
}

.mt-md {
  margin-top: var(--spacing-base) !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-md {
  margin-bottom: var(--spacing-base) !important;
}

.mb-lg {
  margin-bottom: var(--spacing-lg) !important;
}

.mb-xl {
  margin-bottom: var(--spacing-xl) !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pad-lg {
  padding: var(--spacing-lg) !important;
}
