@import 'styles/mixins';

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-attachment: fixed;
  background-color: #333;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  color: #fff;
  font-family: "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  line-height: 1.455em;
  margin: 0;
}

[aria-hidden=true] {
  display: none;
}

a {
  color: #9cf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 0.066em;
  line-height: 1.25em;
  margin-bottom: $spacing-base;
  margin-top: 0;
  opacity: 0.66;
  text-transform: uppercase;
  b {
    opacity: 0.75;
  }
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
}

abbr {
  outline: none;
  text-decoration: none;
}

label {
  color: #999;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  margin: 1px auto;
  max-width: 800px;
  padding: $spacing-lg;
}
.row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media (max-width: $screen-md) {
  main {
    padding: 0;
  }
  .container {
    padding: $spacing-base;
  }
}

@media (max-width: $screen-sm) {
  .row {
    flex-direction: column;
  }
}

@import 'utils';
@import 'buttons';
