@import 'styles/mixins';
@import 'styles/scrollbars';

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-attachment: fixed;
  background-color: #333;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 0;
  @include customScrollbar;
}

[aria-hidden=true] {
  display: none;
}

.container {
  margin: 1px auto;
  max-width: 800px;
  padding: $spacing-lg;
}

.section {
  padding-top: $spacing-base;
  padding-bottom: $spacing-base;
}

.row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.appView {
  background-image: url('/images/black_paper.png');
  background-color: $panel-bg-dark;
  box-shadow: inset 0 0 60px rgba(0,0,0,1);
  margin-left: auto;
  margin-right: auto;
  padding: $spacing-base $spacing-lg $spacing-xl;
  position: relative;
  overflow: hidden;
  .container {
    max-width: $screen-md;
  }
}

@media (max-width: $screen-md) {
  main {
    padding: 0;
  }

  .container {
    padding: $spacing-base;
  }
}

@media (max-width: $screen-sm) {
  .row {
    flex-direction: column;
  }
  
  .appView {
    padding: 0;
    .container {
      padding: $spacing-base 0;
    }
  }
}

@import 'typography';
@import 'links';
@import 'buttons';
@import 'utils';
