@import "styles/scrollbars";
@import "styles/mixins";

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-attachment: fixed;
  background-color: #333;
  background-image: linear-gradient(rgb(0 0 0 / 75%), rgb(0 0 0 / 0%));
  margin: 0;

  @include customScrollbar;
}

[aria-hidden="true"] {
  display: none;
}

.container {
  margin: 1px auto;
  max-width: 800px;
  padding: $spacing-lg;
}

.section {
  padding-bottom: $spacing-base;
  padding-top: $spacing-base;
}

.row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-view {
  background-color: $panel-bg-dark;
  background-image: url("/images/black_paper.png");
  box-shadow: inset 0 0 60px rgb(0 0 0 / 100%);
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: $spacing-base $spacing-lg $spacing-xl;
  position: relative;

  .container {
    max-width: $screen-md;
  }
}

@media (max-width: $screen-md) {
  main {
    padding: 0;
  }

  .container {
    padding: $spacing-base;
  }
}

@media (max-width: $screen-sm) {
  .row {
    flex-direction: column;
  }

  .app-view {
    padding: 0;

    .container {
      padding: $spacing-base 0;
    }
  }
}

@import "typography";
@import "links";
@import "buttons";
@import "utils";
