@import "styles/scrollbars";
@import "styles/mixins";

* {
  box-sizing: border-box;
}

body {
  background-color: $panel-bg-dark;
  margin: 0;

  @include customScrollbar;
}

[aria-hidden="true"] {
  display: none;
}

.container,
.container-sm,
.container-xl {
  margin: $spacing-xl auto;
  padding: 0 $spacing-lg;

  @media (max-width: $screen-sm) {
    margin: $spacing-lg auto;
    padding: 0 $spacing-base;
  }
}

.container {
  max-width: $screen-lg;
}

.container-sm {
  max-width: $screen-sm;
}

.container-xl {
  max-width: $screen-xl;
}

.app-view {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.panel {
  background-color: $panel-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow-2;
  padding: $spacing-sm;
}

.panel-white {
  background-color: #EBE5D0;
  color: #333;
}

.branding {
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.15em;

  b {
    font-weight: 700;
  }
}

.newIcon {
  display: inline-block;
  font-size: $font-size-xl;
  font-weight: 700;
  margin-right: $spacing-sm;
}

h1,
h2 {
  &.branding {
    font-weight: 100;
  }
}

.undefined {
  background-color: red !important;
  outline: 2px solid red !important;
}

@import "typography";
@import "links";
@import "forms";
@import "buttons";
@import "utils";
@import "system";
