@import "styles/grid";

.layoutsList {
  @include grid;
}

.newLink {
  @include newLink;
}



.title {
  align-items: center;
  display: flex;
}

.job {
  flex: 1 1 auto;
}

.newIcon {
  font-weight: 700;
  font-size: $font-size-xl;
  display: inline-block;
  margin-right: $spacing-sm;
}
