.icon {
  display: inline-block;
  height: 16px;
  margin-right: var(--spacing-xs);
  transition: filter var(--timing-default) ease;
  width: 16px;

  .iconImage {
    display: block;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  &.black {
    filter: var(--icon-filter-black);
  }

  &.white {
    filter: var(--icon-filter-white);
  }
}
