@import 'styles/mixins';

.container {
  border: 1px solid #333;
  margin: 0 auto $spacing-base;
  overflow: hidden;
  padding: 0 $spacing-base $spacing-base;
  text-align: center;

  &::before {
    color: #666;
    content: 'advertisement';
    display: block;
    font-size: $font-size-xs;
    font-weight: 300;
    text-align: center;
  }
}

.inFeed {
  margin: 0 auto $spacing-sm;
}
