.container {
  border-bottom: 1px solid rgb(80 80 80 / 50%);
  border-top: 1px solid rgb(80 80 80 / 50%);
  box-sizing: content-box;
  margin: var(--spacing-lg) auto var(--spacing-lg) auto;
  padding: var(--spacing-base) 0 var(--spacing-base);
  position: relative;
  text-align: center;

  &::before {
    background-color: #212121;
    color: #ccc;
    content: 'advertisement';
    display: block;
    font-size: var(--font-size-xs);
    font-weight: 400;
    left: 50%;
    letter-spacing: 0.025em;
    line-height: 1;
    margin-bottom: var(--spacing-xs);
    padding: 0 var(--spacing-xs);
    position: absolute;
    text-align: center;
    top: -1px;
    transform: translate(-50%, -50%);
  }

  &[data-variant='light'] {
    border-color: #ccc;

    &::before {
      background-color: #F9F9F9;
      color: #333;
      font-weight: 600;
    }
  }
}
