@import 'styles/mixins';

.container {
  border-bottom: 1px solid rgb(80 80 80 / 50%);
  border-top: 1px solid rgb(80 80 80 / 50%);
  box-sizing: content-box;
  margin: $spacing-base auto $spacing-base auto;
  padding: $spacing-sm 0 $spacing-sm;
  position: relative;
  text-align: center;

  &::before {
    background-color: #212121;
    color: #666;
    content: 'advertisement';
    display: block;
    font-size: $font-size-xs;
    font-weight: 300;
    left: 50%;
    line-height: 1;
    margin-bottom: $spacing-xs;
    padding: 0 $spacing-xs;
    position: absolute;
    text-align: center;
    top: -1px;
    transform: translate(-50%, -50%);
  }

  ins {
    background-color: #111;
  }
}
