@import "styles/mixins";

.jobGroupList {
  background-color: $panel-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: grid;
  grid-gap: $spacing-base;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: $spacing-xl;
}

.warning {
  background-color: rgb(255 245 0 / 10%);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 33%);
  color: rgb(255 245 150 / 100%);
  margin: 10px auto 0;
  max-width: 960px;
  padding: 20px;

  p {
    margin: 0;
  }
}

@media (max-width: $screen-md) {
  .jobGroupList {
    grid-template-columns: 1fr 1fr;
  }
}
