@import "styles/mixins";

.container {
  background-color: #111;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: $spacing-lg;

  h3 {
    margin-top: 0;
  }

  .section + .section {
    margin-top: $spacing-lg;
  }
}

.categories {
  display: grid;
  gap: $spacing-base $spacing-lg;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: $screen-sm) {
  .categories {
    gap: $spacing-sm;
  }
}

@media (max-width: $screen-xs-max) {
  .categories {
    grid-template-columns: 1fr;
  }
}
