@import 'styles/mixins';

.jobGroupList {
  background-color: $panel-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: grid;
  grid-gap: $spacing-base;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: $spacing-base;

  @media (max-width: $screen-md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $screen-sm) {
    border-radius: 0;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $screen-xs) {
    grid-template-columns: 1fr;
  }
}

.warning {
  color: rgb(255, 225, 0);
  margin: 0 auto;
  max-width: 900px;
}
