@import 'styles/mixins';

.jobGroupList {
  background-color: $panel-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: $spacing-base;
  list-style: none;
  padding: $spacing-base;
  margin: 0;
  @media (max-width: $screen-md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $screen-sm) {
    border-radius: 0;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: $screen-xs) {
    grid-template-columns: 1fr;
  }
}
